[2018-04-03 17:01] #4 closed

[2018-04-03 17:44] PGijsbers commented on #47
Yes (after consulting @mfeurer).

[2018-04-03 17:44] #47 closed

[2018-04-04 08:16] mfeurer commented on #317
Contribution guide added in #368. Next step: adding a developing section to the documentation.

[2018-04-04 10:01] mfeurer opened #431 "Remove split pickling"
or fix it, but the pickle files are not used at the moment.

[2018-04-04 10:02] mfeurer commented on #397
I just added a PR in #432.

[2018-04-04 11:13] mfeurer opened #433 "Add open in browser function for each entity"
To allow code like `run.print_url()` or `run.open_in_browser()`.

[2018-04-04 12:27] PGijsbers commented on #49
Users can now run tests (running `nosetests`) after downloading without further configuration. Please reopen if I misunderstood the issue.

[2018-04-04 12:27] #49 closed

[2018-04-04 12:33] mfeurer commented on #105
Will be fixed in #430.

[2018-04-04 12:37] PGijsbers commented on #59
Posting here for clarification and later reference for whoever picks up this issue.

In an earlier discussion the desired behavior determined to be to get the least recent still active version.
One can retrieve this by querying datasets with the given name, then the least recent still active version should be returned first.

[2018-04-04 13:04] Bilgecelik commented on #354
Hey, this should work.
![capture](https://user-images.githubusercontent.com/38037323/38309082-e9bcafae-3810-11e8-9fae-85bf464f37a2.JPG)

[2018-04-04 13:12] PGijsbers commented on #110
This has been fixed at some point in time for [datasets](https://github.com/openml/openml-python/blob/develop/openml/datasets/dataset.py#L439), [flows](https://github.com/openml/openml-python/blob/develop/openml/flows/flow.py#L356) and [runs](https://github.com/openml/openml-python/blob/develop/openml/runs/run.py#L240). Publishing tasks has not been implemented yet.

[2018-04-04 13:12] #110 closed

[2018-04-04 13:24] PGijsbers commented on #113
Still relevant, MVE:
[code]

output:
[code]

[2018-04-04 13:33] PGijsbers commented on #118
Publishing a task is not yet implemented. Related issue: #294.

[2018-04-04 13:47] PGijsbers commented on #174
The merge should have solved the issue.

[2018-04-04 13:47] #174 closed

[2018-04-04 14:11] PGijsbers commented on #175
As far as I can tell this is not resolved yet, but most work has been done (?).
Parameter meta information can be passed to OpenMLFlow, so I think the goal is to pass this information correctly when creating a flow from a sklearn model. To me it looks like the right place to start this is [here](https://github.com/openml/openml-python/blob/develop/openml/flows/sklearn_converter.py#L360).

[2018-04-04 14:29] mfeurer commented on #354
Can confirm this:
[code]
results in
[code]
Thanks @Bilgecelik for checking this.

[2018-04-04 14:29] #354 closed

[2018-04-04 14:35] PGijsbers commented on #194
For reference: the reason we want this is to specify versions required when serializing a flow, so we have access to this information to deserialize it later.

[2018-04-04 15:09] PGijsbers commented on #423
I'm not sure how to reproduce this issue. What steps were taken? My guess is:

1. Install latest Anaconda

2. In Anaconda Prompt install OpenML using `pip install git+https://github.com/openml/openml-python.git`

Anything else?

 The Appveyor CI seems to have no issues when cloning/installing (though currently does not execute all tests properly).

[2018-04-04 15:57] PGijsbers commented on #415
Can confirm that right now it is reproducible in master but not develop.
This should be fixed in [3dcc087](https://github.com/openml/openml-python/commit/3dcc0874a61f53001ea76e878a893597807f3958#diff-ba5e66c898a59d9f8fca4a850f601196) as far as I can tell.

[2018-04-04 15:57] #415 closed

[2018-04-04 16:07] PGijsbers commented on #385
Task 3 was one of the tasks affected by a bug which prevented users from downloading said task through the Python API (all tasks which shared task and dataset id had this). It has been fixed in #429.

[2018-04-04 16:07] #385 closed

[2018-04-05 10:33] PGijsbers commented on #407
I tried to work on this, but the internet connection here doesn't play nicely with the Windows VM I was trying to configure to reproduce the issue. I'll probably work on this when I have access to a good, wired, connection.

[2018-04-06 09:03] mfeurer commented on #182
@rquintino did some work on having a local installation of OpenML via Docker, more information is in the SLACK channel and [this PDF](https://openml.slack.com/files/UA1K5SA66/FA13460CR/201804-devscope-openml_hackathon-team_projects_and_openml.pdf), maybe that's also a solution.

[2018-04-06 09:05] #105 closed

[2018-04-06 09:05] mfeurer commented on #392
Fixed via #430.

[2018-04-06 14:57] CatarinaAmaral commented on #41
Hey @mfeurer! Can you explain better what you mean by specific properties?

[2018-04-06 15:45] PGijsbers opened #437 "Why do we copy Flow fields instead of using retrieved Flow?"
When automatically performing a Flow on a Task, we need to get information about the Flow from the server, if it exists there already. If it exists, we retrieve this information from the server and copy it to our local flow object [here](https://github.com/openml/openml-python/blob/master/openml/runs/functions.py#L88).

Why do we not use the Flow we get from `get_flow`, but rather copy its informa

[2018-04-09 14:07] #185 closed

[2018-04-09 15:12] mfeurer commented on #437
That's the PR which introduced this behavior: https://github.com/openml/openml-python/pull/253/files

And that's part of the reasoning behind it: https://github.com/openml/openml-python/pull/253#discussion_r116740318

If you could do a PR which explains the reasoning here in form of a comment, that would be appreciated.

[2018-04-09 15:38] mfeurer commented on #437
For me it's fine if you add it to the regression PR.

[2018-04-09 15:45] PGijsbers commented on #437
Alright, I'll do that.

[2018-04-09 15:45] #437 closed

[2018-04-11 08:30] #397 closed

[2018-04-13 08:38] mfeurer commented on #411
We added the `expanduser` command and this should work now (on the development branch). Thanks again for reporting this issue.

[2018-04-13 08:40] #411 closed

[2018-04-13 10:03] ArlindKadra opened #442 "Uploading datasets"
Hey all,
I am working with dataset uploading and I stumbled upon something.

https://github.com/openml/openml-python/blob/f618d816d540b033368453a50a13b76423e43adc/openml/datasets/dataset.py#L373-L397

The function publish() in the OpenMLDataset makes use of the xml description of a dataset and an arff file to upload a dataset at OpenML. However in the way that the class is implemented right now, *

[2018-04-13 11:41] mfeurer opened #443 "Improve installation and development section"
To add:

* development guide
* pull request guide
* installation from pypi

[2018-04-13 11:41] mfeurer commented on #43
We just added the usage snipet in #434. The installation and developer friendliness is now issue #443.

[2018-04-13 11:41] #43 closed

[2018-04-13 16:57] ArlindKadra commented on #113
@mfeurer @amueller I added a fix in  #440. @PGijsbers  the code above would still throw an error, as it is trying to upload an url to the dataset and also the dataset object. One of them should be removed.

[code]

[2018-04-17 20:35] joaquinvanschoren commented on #292
The error message has changed, but this still looks a bug.

[code]

[code]

[2018-04-17 20:38] joaquinvanschoren opened #444 "Running a pipeline fails when it contains names with spaces"
And also returns a very unhelpful error message.

Minimal example:
[code]

Error:
[code]

[2018-04-17 20:47] janvanrijn commented on #444
What is unhelpful about the message?

[2018-04-17 21:04] joaquinvanschoren commented on #444
It doesn't explain that the problem lies with the spaces in the step names.
Either label this as a known bug, or explain to the user that this can't be done?

[2018-04-17 22:14] janvanrijn commented on #444
I agree.

We could catch this in the Python API, and throw an error with the message that spaces are not allowed. I think this is the only place in sklearn where users can input illegal characters

[2018-04-17 22:26] joaquinvanschoren commented on #444
I'm not sure that this an sklearn issue. It seems to handle names with
spaces just fine.

On Wed, 18 Apr 2018 at 00:14 janvanrijn <notifications@github.com> wrote:

--
Thank you,
Joaquin

[2018-04-17 22:33] janvanrijn commented on #444
It is not an sklearn issue. It is an OpenML / sklearn difference (Sklearn allows spaces, OpenML does not)

[2018-04-18 13:12] janvanrijn commented on #442
Short version of the answer (from phone) I agree.

Slightly longer: dataset class is a little complicated ATM and contains many things that it shouldn't have imo, e.g. reference to features, qualities, maybe even splits? Ideally this should all be decoupled (might be a bit hard, I never wanted to start this)

[2018-04-18 13:36] mfeurer commented on #442
I agree that the class is a bit complicated, but I disagree on that it shouldn't contain the features and qualities. This makes it easy for a user to access all kinds of things related to datasets. It does not contain the splits, these are in the task.

[2018-04-18 16:57] mfeurer commented on #409
@ArlindKadra once mentioned that github can be used for deploying the documentation website, too. @ArlindKadra could you please comment on this?

[2018-04-18 18:52] mfeurer opened #445 "Print the server name on a server exception"
This is the current state which omits this kind of information:
[code]
Instead it should be like:
[code]
which would help the developer (in this case me who keeps rerunning unit tests) to easily see which server is causing issues.

[2018-04-18 18:57] janvanrijn commented on #445
This comes from OpenML: `Unexpected server error. Please contact the developers!' You don't want to change this based on a regex.

Probably you want to preprent or append to all server errors the server address, or add a verbosity option that prints the URL, post vars and exact error, if one occurs

[2018-04-18 19:02] ArlindKadra commented on #409
@mfeurer  Travis has support for deploying documentation on the github pages, we can just point it to the folder that the documentation gets built and it will deploy where we want.

[2018-04-19 13:35] janvanrijn commented on #444
What would be the added value?

[2018-04-19 15:16] joaquinvanschoren commented on #444
Easy of use. People shouldn’t need to adapt their pipelines just to run
them on OpenML tasks?
On Thu, 19 Apr 2018 at 15:35, janvanrijn <notifications@github.com> wrote:

--
Thank you,
Joaquin

[2018-04-19 15:26] mfeurer opened #446 "Allow retrieving meta-features without loading the dataset object"
to speed up certain operations.

[2018-04-20 07:50] mfeurer opened #447 "Do not leave files after running unit tests"
Currently, the unit tests leave a few files. This clutters the development directory and makes it harder to keep an overview in git.

[2018-04-20 17:38] janvanrijn opened #449 "requirements.txt is gone from development branch"
Any specific reason behind this?

[2018-04-23 11:20] joaquinvanschoren opened #451 "Confusing run_flow_on_task"
I've seen several people make the same error when using OpenML. They do
[code]
instead of
[code]
I can see how this is confusing to beginners. Would it make sense to rename the method? Or at least add more info to the error message? Right now it returns with
[code]
This makes sense, but could we also add something like 'Please check whether you entered the task and flow objects in the right order'

[2018-04-23 13:32] PGijsbers commented on #451
This is something I find myself doing wrong still, every now and then. What is the reasoning behind this order anyway?

I would suggest making sure the order in the method name is the same as the order of the parameters (no preference as to doing it by renaming the method or re-ordering the parameters). Alternatively you could also just allow both permutations of arguments (but this requires addit

[2018-04-23 13:34] mfeurer commented on #451
There is no reasoning behind this order, it's sloppiness. I asked @ArlindKadra to do this once dataset uploading works. I'd actually prefer to allow both permutations. If @ArlindKadra didn't yet start on this, do you want to take this over @PGijsbers ?

[2018-04-23 14:00] PGijsbers commented on #451
In principle yes, but I'm also about to go on holiday. Considering it shouldn't be much work, I'll see if I can squeeze it in.

[2018-04-23 14:04] mfeurer commented on #451
Cool!

[2018-04-23 14:14] PGijsbers commented on #451
Do we want to phase out usage of the old ordering (e.g. give a deprecation warning for now)?

[2018-04-24 00:17] joaquinvanschoren commented on #451
Allowing both permutations and outputting a warning for the 'wrong' order seems a good way to go. Documentation should only document the more logical/consistent option IMHO.

Indeed, the same goes for `run_model_on_task`.

[2018-04-24 07:16] #373 closed

[2018-04-24 10:54] ArlindKadra commented on #451
@mfeurer I have not started on this, so there is no duplicate work happening :)

[2018-04-24 17:01] mfeurer commented on #425
Here we go: https://pypi.org/project/openml/

I see this rather as a soft launch release because the readme and documentation aren't good enough yet, but at least its on pypi now.

[2018-04-24 17:01] #425 closed

[2018-04-24 17:02] janvanrijn commented on #425
Awesome!

Installing works for me

[2018-04-24 20:34] joaquinvanschoren commented on #425
Oh my god, this makes me so happy 😄

[2018-04-25 11:27] joaquinvanschoren commented on #425
Did a PR for updating the installation instructions:
https://github.com/openml/openml-python/pull/456

[2018-04-25 12:01] joaquinvanschoren opened #457 "Why does run_flow_or_task always upload the flow?"
The docs for 'run_flow_or_task' say:`In case a flow is not yet published, it is published after executing the run`.

I wonder why this is always done. I can imagine that people just want to run a set of flows on a task without uploading it later. Maybe they want to test very weird configurations that they will never upload runs for, and these will all live on the server as flows without runs.

Wou

[2018-04-25 12:05] joaquinvanschoren commented on #457
Also, it makes it harder to run experiments without an internet connection? In some cases you want to run experiments without an internet connection, and just store the run objects for later uploading?

[2018-04-26 21:13] janvanrijn commented on #451
My personal preferences:
* I am highly in favor of strict type checking
* I don't know how exactly this will be implemented, but my feeling tells me that allowing a task as flow argument and vice versa, and inducing which one is which will lead to confusing and hard to maintain code, and potentially problems with experimental results
* I don't care about argument order, so either of these is fine

[2018-04-27 19:53] janvanrijn opened #458 "Support for FunctionTransformer"
I just came across the FunctionTransformer. Does the flow_to_sklearn / sklearn_to_flow support this module? If not, do we block uploading this?
(Just putting it out here, will write a MWE when I have time)

[2018-04-30 16:55] amueller commented on #410
dataset upload and pandas integration seem essential, generally this looks good.

[2018-05-01 07:05] mfeurer opened #460 "Add changelog"
As the OpenML package is now on pypi we need to keep track of all changes we do. Therefore, we need to move [this changelog](https://openml.github.io/openml-python/stable/progress.html) to a more prominent position and start using it. Also, we need to add 'update changelog' to the pull request template.

[2018-05-03 14:04] janvanrijn opened #463 "Listing function bug"
#### Description
On the pip version of OpenML I keep on getting the following error:
[code]

#### Steps/Code to Reproduce

[code]

#### Notes
I checked into the code, there are several things that I noted:
* There are practically no unit tests for this functionality
* The unit test that is there works on basis of a hidden function (i.e., _list_datasets)
* There are several hidden functions for the

[2018-05-03 14:10] janvanrijn commented on #463
Apparently, I should just call the `list_datasets` etc function, which in turn utilizes the list all function. Shouldn't we make the list all function hidden? Otherwise people might use it, whereas apparently this is not directly intended to be used.

Still I get errors:
[code]

(returns empty dict)

[2018-05-03 14:24] janvanrijn commented on #463
Apparently this can be fixed by changing the fn call into the following.
[code]

Additionally, things go wrong with the batch size parameter. When I request a size that is not a multiplier of the batch_size, I don't get the exact amount.

I would also catch the error (in case of no results) in a different way. I will make a PR.

[2018-05-03 16:29] janvanrijn commented on #463
Luckily, I was wrong. The functions did not contain the aforementioned bug, as I invoked the wrong function. (Apparently the behavior has changed in the meantime, which is fine by me :) )

I added unit tests and unfortunately found another (less serious) bug. The returned number of the listing does not always return the correct value, it sometimes stops too early. I have fixed this.

Furthermore,

[2018-05-03 19:05] janvanrijn opened #465 "More extensive unit tests for run to / from xml"
Make sure that the tests ensure that functions _create_description_xml() and _create_run_from_xml() are each others exact complements.

e.g.,
* a parameter free classifier
* a classifier with multiple components
* a tagged run
* runs that come from the server (and thus have global evaluation measures, measures per sample/fold set)
* ... feel free to add

[2018-05-04 23:29] janvanrijn opened #466 "OpenML-Python ARFF reader"
This is not to discredit the LIAC-ARFF reader, as I think it is useful tool that allows for parsing and unparsing of many arff files that surve a broad purpose.

However, today I discovered [a bug](https://github.com/renatopp/liac-arff/issues/69) (strings with quotes and escape characters, we use this for storing arff traces) which required me to dive into the code. We currently use it for seriali

[2018-05-05 00:00] joaquinvanschoren commented on #466
Well, @mfeurer has made 5 commits to liac-arff in the last month. I've also opened issues and did at least one PR in the past year.
The scipy variant has issues of its own, e.g. it does not support sparse arff.
More discussion on this here: https://github.com/scikit-learn/scikit-learn/pull/9908

Anyway, @mfeurer has been a lot closer to this discussion. Thoughts?

[2018-05-05 01:10] janvanrijn commented on #466
Until shortly before, what I liked about the LIAC arff is that is is quite restrictive. If it parses an arff file, we are sure that it is a good arff file. However today I discovered that it does not always consistent generating arff output, which is a feature upon which we heavily rely and which potentially influences the data integrity on the server. The problem seems quite deep in the core, I w

[2018-05-05 02:33] janvanrijn commented on #465
I added two unit tests:
* test_run_description_deserialize_serialize
* test_run_description_deserialize_serialize

the first one is deactivated, as the python api is indeed not ready for this yet (although it's not a bad thing, it doesn't seem to miss any obvious fields)
the second one runs nicely (had to add something to server for that)

[2018-05-10 20:51] janvanrijn opened #468 "Listing calls & URL size limit of OpenML server"
The OpenML server has a URL size limit, which prevents us from doing listing calls with too many filters. For example, when I want to filter on 1000 task id's it is likely that the call will fail. It would be great if we can somehow automatically detect and catch this in the list all function. However, this is a though problem, as sometimes there are multiple filters (e.g., per task and per setup)

[2018-05-10 20:57] janvanrijn commented on #468
Just realized that there is a straightforward fix for this, i.e., allowing also post variables for the listing functions (although POST means authentication)

@mfeurer what do you think?

[2018-05-11 07:25] mfeurer commented on #468
Is the maximum URL length documented somewhere? Also, what's the server response? If the server response is something we can parse/display nicely, is there a reason to act upon this in addition?

Also, how would you handle this except raising an exception? Do you want to "parse" the query on the python side to chunk it? We could go back to post again, but we reverted that a while ago to not have t

[2018-05-11 13:49] Yatoom opened #469 "Small suggestion for compatibility with AutoSklearn"
The `openml/runs/functions.py` file contains the code below, which retrieves the list of unique classes used inside the best estimator of the BaseSearchCV. I believe this list is often just `np.unique(y)`, but some classifiers may use a different method.

[code]

Since [Sklearn 0.19](https://github.com/scikit-learn/scikit-learn/commit/eee8be490b0994a99d911ad8bab2c2e59dc4e123), the class BaseSearch

[2018-05-15 10:31] ArlindKadra commented on #339
I have opened issue #442 regarding this topic. Currently the dataset class contains a path to the arff file and when a call is made to upload, the file is read from the path and then uploaded.
To tackle this, we already opened #440 and an upload_dataset function was added which does not read the files from a path but instead uploads the file directly.
The implementation in the dataset class is sti

[2018-05-15 16:03] janvanrijn opened #471 "Authentication issue with get request"
MWE:
[code]

gives the following stacktrace:
[code]
Whereas retrieving the URL by hand succeeds

[2018-05-15 16:27] janvanrijn commented on #468
I think this issue will mostly occur with setups, as these can not be filtered by other means (tasks, runs, etc)

I added a function to the openml contrib library:
https://github.com/openml/openml-python-contrib/blob/master/openmlcontrib/setups/functions.py

[2018-05-16 07:45] mfeurer commented on #463
Did we merge the bugfix? Can we close this?

[2018-05-16 08:56] janvanrijn commented on #463
I think so, don't see the pr anymore

[2018-05-16 09:28] #463 closed

[2018-05-16 11:37] mfeurer commented on #431
This isn't a bug as the pickle files are actually used.

[2018-05-16 11:37] #431 closed

[2018-05-23 13:09] LishengSun opened #472 "Issue with installation"
Hello,

I just tried to install openml following the instructions here: https://openml.github.io/openml-python/stable/index.html#how-to-get-openml-for-python.
1) I clone github repo : ok
2) I got a new directory 'openml-python' (no 'python' as mentioned), I enter 'python setup.py install' but I got this error:

Searching for oslo.utils>=3.33.0
Reading https://pypi.python.org/simple/oslo.utils/
Dow

[2018-05-23 13:41] joaquinvanschoren commented on #472
Hi Lisheng,

We recently created a release on pypi, could you try 'pip install openml' instead?

[2018-05-23 15:18] LishengSun commented on #472
Yes it works now! Thank you very much Joaquin!

[2018-05-23 15:27] LishengSun opened #473 "Evaluation of a run"
Hello,

I would like to know how I can get the evaluation of a run (for example, the accuracy).
I follow the tutorial and launch:
`model = RandomForestClassifier()`
`task = openml.tasks.get_task(12)`
`run = openml.runs.run_model_on_task(task, model)`
`pprint(vars(run), depth=2)`
Then the only evaluation I get is the 'fold_evaluations'.
So my questions are:

(1) Is there any way to get the test sco

[2018-05-23 15:32] janvanrijn commented on #473
You probably want to have a look at the evaluations_list function (https://docs.openml.org/Python-API/) then you don't have to run classifiers yourself but download stuff that is already uploaded

[2018-05-23 15:58] joaquinvanschoren commented on #473
Hi Lisheng,

If you just want to get the performance from a local run object, use `run.get_metric_fn`.
Here's a working example:

[code]

[2018-05-24 12:44] mfeurer commented on #472
We'll update the installation instructions soon. Keep tuned!

[2018-05-24 12:44] #472 closed

[2018-05-25 10:01] LishengSun commented on #473
Thank you Joaquin and Jan for your reply ! What I want is to perturb a little bit the data matrix and see the effect on the performance, so maybe local runs is a good choice in this situation.

[2018-05-25 10:45] joaquinvanschoren commented on #473
That’s indeed what you want for initial experimentation. When you want to
share it more publicly, you can create new algorithms that do the
perturbation internally and evaluate and share their performance :)
On Fri, 25 May 2018 at 12:01, Lisheng Sun <notifications@github.com> wrote:

--
Thank you,
Joaquin

[2018-06-03 23:37] ArlindKadra commented on #339
Solved in #440

[2018-06-03 23:37] #339 closed

[2018-06-03 23:38] ArlindKadra commented on #113
Solved in #440

[2018-06-03 23:38] #113 closed

[2018-06-05 08:40] d-behi opened #475 "list_setups python API call has a default size of 0"
#### Description
setups.list_setup has a default size of 0 and unless specified the API call returns an empty dictionary.
This issue is introduced in version 0.7.0 (I tested on 0.6.0 and it worked fine)
#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
{2746828: <openml.setups.setup.OpenMLSetup at 0x11b3febd0>}
{4151172: <openml.setups.setup.OpenMLSetup at 0x11a54a950>}

#### Ac

[2018-06-05 09:05] d-behi opened #476 "Some of the scikit learn pipeline flows have wrong component order"
#### Description
Some of the sklearn pipeline flows have the wrong component order.
For example flow ids: {6969, 8330, 7694} where, in the 'component OrderedDict` the mode is the first component.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
u'imputation ===> hotencoding ===> variencethreshold  ===> classifier '

#### Actual Results
u'classifier ===> imputation ===> hotenco

[2018-06-05 09:10] d-behi opened #477 "not JSON serializable error when running flow on a task"
#### Description
I encounter the following error when running a flow (for example 7103) on a task (for example 146607).
`<openml.flows.flow.OpenMLFlow object at 0x11cc43110> is not JSON serializable`

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
OpenMLRun object

#### Actual Results
[code]

#### Versions
Darwin-17.5.0-x86_64-i386-64bit
('Python', '2.7.15 (default, May 28 20

[2018-06-05 15:32] janvanrijn commented on #475
Thanks for reporting this.

Can you check whether this is still the case in the development branch?
Recently I fixed a similar issue #463

[2018-06-05 15:36] janvanrijn commented on #476
Thanks for reporting this.

The goal of the flow / setup objects is to give a serialization of a Machine Learning object (from weka, scikit-learn, mlr) on OpenML.

Using the following code (not checked, might contain small typo's) you can deserialize it:
[code]
If the order of components is also wrong there we have a serious problem.

@mfeurer what do you think about this?

[2018-06-05 15:42] janvanrijn commented on #477
This code doesn't reproduce the same error on my side. Which branch are you running?

[code]

(Which is something we should fix though)

[2018-06-05 16:02] d-behi commented on #476
@janvanrijn I just checked and the order after transforming the flow to sklearn is fine.
It seems only the flow object may contain the wrong order.
This is not a critical issue, but I just thought I should mention it since I was using the 'flow.components' to print the components of the flow.

[2018-06-05 16:05] d-behi commented on #477
I'm getting the error on the master branch.

I will dig a bit deeper later (I think I got a similar error to yours when I was trying to run an "mlr" flow on the specified task).

[2018-06-05 16:06] janvanrijn commented on #476
Thanks for checking this.

@mfeurer what do you think, should we do something about this?

[2018-06-06 07:33] d-behi commented on #475
This is indeed solved in the develop branch.
I'm closing the issue.

[2018-06-06 07:33] #475 closed

[2018-06-06 07:35] d-behi commented on #477
@janvanrijn Running the same code on the develop shows a different error from the master branch and the one you got
[code]

[2018-06-07 10:53] janvanrijn commented on #476
Actually I think this one is due to the way the flow is stored on the server

[2018-06-08 11:36] mfeurer commented on #451
Fixed in #452.

[2018-06-08 11:36] #451 closed

[2018-06-08 11:38] mfeurer commented on #442
I believe this is now implemented in #440.

[2018-06-08 11:38] #442 closed

[2018-06-08 11:39] mfeurer commented on #311
@ArlindKadra could you please check whether this is solved by #440?

[2018-06-08 11:40] mfeurer commented on #337
@ArlindKadra do you think we could add this by checking that the description (and other strings) provided by the user are not empty?

[2018-06-08 11:41] mfeurer commented on #292
@joaquinvanschoren did you try the latest dataset upload? Is it the way you expect it? If yes, can we close this?

[2018-06-08 11:43] ArlindKadra commented on #311
@mfeurer https://github.com/openml/openml-python/blob/46033459b0a3491273fa819cf9e882b250f49063/openml/datasets/dataset.py#L35

[2018-06-08 11:45] mfeurer commented on #311
Thanks @ArlindKadra

[2018-06-08 11:45] #311 closed

[2018-06-08 11:51] ArlindKadra commented on #337
@mfeurer depends, momentarily we have 2 ways in which OpenMLDataset can be created. We are already enforcing certain dataset fields from the datasets/functions way, on the other hand a straight object creation would make sense to provide that. In my opinion this should be firstly done server side, a dataset can still be uploaded only with **name, description, and data format.**

[2018-06-08 11:55] joaquinvanschoren commented on #292
I'll try to test it over the weekend

On Fri, 8 Jun 2018 at 13:41 Matthias Feurer <notifications@github.com>
wrote:

--
Thank you,
Joaquin

[2018-06-14 11:14] mfeurer commented on #477
@d-behi and @janvanrijn I can reproduce this and will no try to figure out what's going wrong here.

[2018-06-14 11:32] mfeurer commented on #477
@d-behi I can reproduce your error on the development branch, too, using the following code:
[code]

[2018-06-14 11:34] mfeurer commented on #477
Replacing the `None` by a list solves this issue:
[code]

[2018-06-14 11:57] mfeurer commented on #477
Okay, I found the issue. When downloading the flow and not having the study14 package available, the flow will still deserialize and will actually have an empty step (for the imputation). However, the parameter extraction for the run upload cannot cope with this empty step. I will create a hotfix which gives a better error message.

[2018-06-14 12:21] mfeurer commented on #184
@amueller given [your recent sckit-learn](https://github.com/scikit-learn/scikit-learn/issues/11115) issue on this, do you think we can drop python2.7 support now? This would make some pieces of code easier and potentially allow us to use type hints to improve code quality.

[2018-06-14 12:33] mfeurer commented on #476
Checking the following piece of code, the connector indeed seems to send data correctly to the server:
[code]
and the de-serialization despite the component order being wrong. Is it possible to change the way the flow is stored on the server?

[2018-06-14 12:37] mfeurer commented on #471
I cannot reproduce this on the development branch with the following code:
[code]

[2018-06-14 12:40] mfeurer commented on #469
Great idea. Do you want to create a pull request for this repository and open an issue over at auto-sklearn? Thanks!

[2018-06-14 12:47] mfeurer commented on #422
@janvanrijn can this be closed due to #459?

[2018-06-14 12:48] mfeurer commented on #419
Python unit tests work again. Closing this one now.

[2018-06-14 12:48] #419 closed

[2018-06-14 12:54] mfeurer commented on #445
Should be added via https://github.com/openml/openml-python/pull/430.

[2018-06-14 12:54] #445 closed

[2018-06-14 12:57] mfeurer commented on #412
You mean using the field [`custom_name`](https://github.com/openml/OpenML/blob/7a1e4cfb96d58c5d20b4438e1c1102024dfd442b/openml_OS/views/pages/api_new/v1/xsd/openml.implementation.upload.xsd#L14)?

[2018-06-14 13:05] janvanrijn commented on #422
No. #459 actually introduced a bug (due to a bug in liac arff) and a new pr (waiting for review) intends to kind of solve this

[2018-06-14 14:29] mfeurer commented on #317
Will be added in #456.

[2018-06-14 14:29] #317 closed

[2018-06-14 14:54] mfeurer commented on #443
Will be added in #456.

[2018-06-14 14:54] #443 closed

[2018-06-14 14:57] mfeurer commented on #266
Fixed by #452.

[2018-06-14 14:57] #266 closed

[2018-06-14 14:59] mfeurer commented on #117
Added in #440.

[2018-06-14 14:59] #117 closed

[2018-06-14 15:13] mfeurer commented on #466
Is the fact that we're working on this a problem?

Have a look at the [LibSVM datasets](https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary.html), some of them have up to 20 million features. I think you really want to support sparse arff files.

If csv == arff this would be a solution, but liac-arff needs to support sparse data and `None` values need to be encoded as `?`.

I'll have a

[2018-06-14 15:57] janvanrijn commented on #466
No, I think that is great. The problem that I wanted to point out is that the original developers do not seem to do any maintenance on the library anymore since 2015, which is a problem for a crucial dependency in our project.

It would be great if we could get [this unit ](https://github.com/janvanrijn/liac-arff/blob/master/tests/test_loads_dumps_escape.py) test working.

FFR:
[code]

[2018-06-14 17:22] janvanrijn commented on #476
Yes and no. Yes, we could potentially change this.

No, I don't think that the order in which the flows are represented in the XML bears meaning, and that we should add that.

[2018-06-14 22:58] joaquinvanschoren commented on #466
Does the scipy function read/write both sparse and non-sparse ARFF files?

On Thu, 14 Jun 2018 at 11:57 janvanrijn <notifications@github.com> wrote:

--
Thank you,
Joaquin

[2018-06-15 14:59] mfeurer commented on #466
That's why I can do this now ;)

Please check if my latest pull request fixes this.

From the [scipy docs](https://docs.scipy.org/doc/scipy/reference/generated/scipy.io.arff.loadarff.html):
[code]
Scipy can't write anything and we actually use this function to load the splits.

These limitations were one of the reasons I chose to go with liac-arff.

[2018-06-15 21:03] rizplate commented on #21
+1

[2018-06-15 21:43] janvanrijn commented on #21
Is there any (scientific or praktical) use case in which storing models becomes relevant? The only thing that I can think of is when a new test set of data becomes available, the model can be reevaluated on this. However, this unfortunately rarely happens.

[2018-06-16 21:11] joaquinvanschoren commented on #21
- Generally looking into what your model looks like (visualize a tree, count support vectors, looking at learned weights,...)
- Transfer learning, few-shot learning
- Streaming data (where new data actually comes in)
- Making predictions for new test instances (granted, this does not happen for older public datasets, but it does happen all the time in real applications)

I agree it is challenging,

[2018-06-18 07:33] mfeurer commented on #21
One more thing to keep in mind is file size. Running the default scikit-learn random forest on the popular EEG-Eye-State dataset (1471) results in 7.5MB:
[code]
The [most popular task on that dataset](https://www.openml.org/t/9983) has ~85k runs, assuming that only 1 percent of these are random forests, that would require at least 6.3GB. If you would increase the tree size from 10 trees to somethi

[2018-06-19 07:54] mfeurer opened #480 "Cope with empty steps in scikit-learn"
Reproduce with:
[code]
follow up of issue #479

[2018-06-19 07:54] #477 closed

[2018-06-19 11:42] mfeurer commented on #466
Can we close this for now given the upcoming fix in #481? Also, given that this is a duplicate of https://github.com/openml/openml-python/issues/116?

[2018-06-19 11:57] mfeurer commented on #465
I just wanted to have a look at this issue because getting this right is crucial to the success of OpenML. However, I can't find your tests. Could you please post a link to the tests you added so that I can extend them?

[2018-06-19 16:52] janvanrijn commented on #466
Absolutely! Thanks for fixing this :)

[2018-06-19 16:52] #466 closed

[2018-06-19 17:05] janvanrijn commented on #465
Great catch.

They are actually in [the PR that will be deleted](https://github.com/openml/openml-python/blob/fix_serializing/tests/test_runs/test_run.py).
[code]

We should merge these two functions to the development branch.

[2018-06-19 17:13] janvanrijn commented on #471
You are right.

[2018-06-19 17:13] #471 closed

[2018-06-19 17:16] janvanrijn commented on #480
**Current Outcome:**

[code]

What would be the expected outcome?

[2018-06-20 07:19] mfeurer commented on #480
The `variancethreshold` should be part of the expected flow parameters.

[2018-06-20 07:20] mfeurer commented on #466
But you need to review my PR @janvanrijn otherwise this won't be fixed ;)

[2018-06-20 14:22] janvanrijn commented on #466
You mean this one right:
https://github.com/openml/openml-python/pull/481

[2018-06-20 15:25] mfeurer opened #483 "Create trace object in run object"
Currently, a trace object is only created when requesting it via `openml.run.get_trace()`. However, it should be created at the creation time of the run object. Also, the trace object should take care of creating and reading the trace arff (as the TODO added in #481 suggests).

[2018-07-02 09:02] mfeurer opened #484 "Implement the following unit test"
A good unit test would consist of the following steps:

1. instantiate a classifier
2. solve a small task with a complex decision boundary
3. upload the classifier to OpenML (not necessarily the run result)
4. download the flow from OpenML and re-instantiate the classifier
5. solve the same small task as in step 2
6. assert that the predictions from the classifier before uploading are exactly the

[2018-07-05 16:03] janvanrijn opened #485 "get_flow fn throws error when dependencies are not met"
apparently, get flow tries to deserialize the flow immediately into a model. However, sometimes we want to just download and inspect a flow (e.g., a flow from another sklearn version or a flow from any other workbench) and this seems not possible.

[2018-07-05 20:28] janvanrijn opened #486 "flow serialization fails when dealing with np.int np.flow"
Is there a particular reason for not allowing classifiers to have numpy integer and numpy float values as hyperparameter settings?

[2018-07-14 21:27] janvanrijn opened #487 "Liac-arff: Sparse ARFF / ARFF stored in same way"
The following [line of code](https://github.com/openml/openml-python/blob/master/openml/datasets/dataset.py#L113) attempts to distinguish sparse arff from regular arff.
(FFR, the openml-python code)
[code]

However, when executing the [following test](https://github.com/renatopp/liac-arff/blob/master/tests/test_loads.py) from the liac-arff reader, the sparse arff and regular arff are internally re

[2018-07-19 15:25] #486 closed, assigned to nobody

[2018-07-19 15:47] mfeurer commented on #487
Are you referencing `test_sparse_input`? The arff reader is not tasked to return a format for sparse data and therefore returns a simple list of lists. Check out the signature of the decode function: `def decode(self, s, encode_nominal=False, return_type=DENSE):`. By changing the `return_type` you can change the format returned by liac-arff.

To answer your other question: The code is somewhat con

[2018-07-20 21:30] janvanrijn opened #491 "Flow: hyperparameter defaults"
It seems hard to know what the default hyperparameters of a flow are.

`flow_to_sklearn` has an option to 're-instantiate' the flow with the default hyperparameters, but this is not properly tested (my bad). In the current test case it is tested on a Pipeline with decision tree, which is a fairly easy example. When testing on a pipeline with adaboost, it already errors:
[code]

This is due to the

[2018-07-20 21:31] janvanrijn commented on #487
makes sense now, thanks!

[2018-07-20 21:35] janvanrijn commented on #491
I added a unit test (with the skip annotation), as I could not think of a solution yet.

[2018-07-20 21:56] janvanrijn commented on #491
Nevermind, we do have the proper information in OpenML. I pushed a fix. @mfeurer can you please review it at your convenience?

[2018-07-23 08:04] #491 closed

[2018-07-27 01:46] janvanrijn opened #494 "sklearn converter does not work with new columntransformer"
Once sklearn 0.20 will be released, one of the key features is the column transformer (which we probably want to use for the benchmark study)

The current serialize function throws the following error. We should probably fix this.

[code]

[2018-07-27 16:04] vchouksey opened #495 "How to extract/pull OpenML Dataset MetaFeatures like skewness, kurtosis, class entropy"
#### Description
Example: How to extract/pull OpenML Dataset MetaFeatures like skewness, kurtosis, class entropy

#### Steps/Code to Reproduce
status_type = 'active'
openml_list = oml.datasets.list_datasets(status=status_type) # Returns a dict
datalist = pd.DataFrame.from_dict(openml_list, orient='index') # Transform to pandas
datalist = datalist[datalist.name.str.contains('diabetes')]
datalist

#

[2018-07-27 21:41] joaquinvanschoren commented on #495
The metafeatures are called qualities in OpenML and they are included in the dataset description:
[code]
[code]

Next, just select the ones you need:
[code]
[code]

[2018-07-27 22:22] janvanrijn opened #496 "sklearn converter can't handle BaseSearchCV evaluation metrics"
The following code yields the following error

code
[code]

error:
[code]

Apparently, the scorer can only be set to None, in which case the default scorer from the estimator will be used (which can potentially be anything, depending on the classifier)

[2018-07-30 06:14] mfeurer commented on #496
Closing this, it is a duplicate of #288.

[2018-07-30 06:14] #496 closed

[2018-07-30 16:54] vchouksey opened #497 "How to know and skip if dataset having string features? "PyOpenMLError: Dataset 376 not compatible, PyOpenML cannot handle string features""
#### Description
PyOpenMLError: Dataset 376 not compatible, PyOpenML cannot handle string features

#### Steps/Code to Reproduce
[code]

/usr/local/anaconda/lib/python3.6/site-packages/openml-0.7.0-py3.6.egg/openml/datasets/dataset.py in get_data(self, target, include_row_id, include_ignore_attributes, return_categorical_indicator, return_attribute_names)
    227             raise PyOpenMLError(

[2018-07-30 23:12] joaquinvanschoren commented on #497
Hi Vishal,

I'm not actually the team lead for the Python API. Matthias and Jan are.
While I can assign people, I don't think I should be doing that.

This is a known issue. For now I would recommend to use a try-catch
approach, but maybe Matthias has a better suggestion.

On Mon, 30 Jul 2018 at 18:54 Vishal Chouksey <notifications@github.com>
wrote:

--
Thank you,
Joaquin

[2018-07-31 05:49] mfeurer commented on #497
For now I suggest that you use try/except block around the `get_dataset` call. It's the easiest way to achieve this.

[2018-08-03 11:59] ArlindKadra opened #498 "Unclear function documentation and warning"
https://github.com/openml/openml-python/blob/5a1048d9087677b6a2d62d9e044a6c00d37795f0/openml/runs/functions.py#L52-L94

I was checking out this function and it confused me.
https://github.com/openml/openml-python/blob/5a1048d9087677b6a2d62d9e044a6c00d37795f0/openml/runs/functions.py#L62
There is no model parameter, there is a flow and it is an OpenMLFlow.
https://github.com/openml/openml-python/bl

[2018-08-03 12:13] ArlindKadra commented on #498
On a further note, I will also update the examples tutorial following the Deprecation.

[2018-08-03 13:05] mfeurer commented on #498
Yes, the parameter documentation is wrong. Line 67 can be removed in the future. Your note on the warning is correct, too.

[2018-08-09 20:07] janvanrijn opened #500 "Wrong check for publishing flow in run_flow_on_task"
The following check will always be true if the function is called from `run_model_on_flow`:

[code]

yielding in an unnecessary function call to OpenML. I propose to swap it with:

[code]

As flow id comes directly from the flow_exists function. I also propose to cross-check this against the flow id, as follows:
[code]

[2018-08-09 20:13] janvanrijn opened #501 "Arff feature names"
Seems relevant as we had several discussions about what kind of arff we allow for our parsers. What kind of feature names do we allow on OpenML? Currently there is a check that checks whether a feature name is basic latin (first 128 characters of unicode). This check apparently fails on the following datasets (some of which are in the OpenML100/CC18): 1176, 4537, 41102, 41112, 41113, 41114, 41115,

[2018-08-09 20:15] janvanrijn commented on #501
Sorry, wrong issue tracker

[2018-08-09 20:15] #501 closed

[2018-08-10 07:14] ArlindKadra commented on #500
is the second check necessary ? there is an assert in
`_publish_flow_if_necessary(flow)`

https://github.com/openml/openml-python/blob/7a612eaece2fd28315d99dda3e2393ada2f27478/openml/runs/functions.py#L138

[2018-08-10 07:17] mfeurer commented on #500
Sorry @ArlindKadra @janvanrijn already pushed a fix, don't worry about this one.

[2018-08-10 08:08] ArlindKadra commented on #500
@mfeurer no worries, I already saw it before I wrote. I took a look at what @janvanrijn proposed since I am working on an issue related to this function.

[2018-08-22 14:22] janvanrijn opened #504 "Conditional Parameters in Trace Serialization"
Given Hierarchical parameters, a random search like procedure would not always want to go through the burden of specifying values for all hyperparameters (in fact, randomsearchcv does, but one of my spinoff classes, called defaultsearch, does not. And I think for a good reason, although we can discuss the validity of that)

However, when running the following piece of code:
[code]
I get the follow

[2018-08-22 16:08] ArlindKadra opened #506 "Task object"
#### Description
The task object contains the information regarding estimation parameters twice. Doing a small refactor would remove the duplicate information.

#### Steps/Code to Reproduce
[code]
#### Result
[code]

[2018-08-23 07:00] mfeurer commented on #504
Does this also happen with the regular scikit-learn grid and random search? According to the code they're also using masked arrays.

[2018-08-23 07:52] janvanrijn commented on #504
I think so, but I don't know how to trigger an example like that (i can try to look into gridsearch)

[2018-08-28 09:44] PidgeyUsedGust opened #507 "Nominal features values"
#### Description
The `nominal_values` field of a feature is left unpopulated, see [here](https://github.com/openml/openml-python/blob/7a612eaece2fd28315d99dda3e2393ada2f27478/openml/datasets/dataset.py#L84). The data seems to be available trough [REST](https://www.openml.org/api/v1/json/data/features/2?api_key=).

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
`["GB","GK","GS"

[2018-08-28 09:49] janvanrijn commented on #507
I recently added this field to the database. Any PR should also check whether there is an error in the dataset record (also newly displayed) as this can mean that the nominal features were not correctly retrieved

[2018-08-28 18:35] maxcopeland commented on #507
hi @janvanrijn, mind if I work on this?

[2018-08-30 22:56] dmartinez05 opened #509 "Looking for the definition of a Run"
#### Description
I have involved in another project about AutoML (https://gitlab.com/datadrivendiscovery/d3m), and I have been trying to find a reference for how the run is created (schema), so we can try to find a way to translate our pipeline(https://gitlab.com/datadrivendiscovery/d3m/blob/devel/d3m/metadata/schemas/v0/pipeline.json) language to the run one.

Also, I am not sure whether or not i

[2018-08-31 14:42] janvanrijn opened #511 "Support for BayesSearch of SkOpt"
Requires:
- extension of sklean_to_flow and flow_to_sklearn
- unit tests and an additional dependency (for unit tests)

[2018-08-31 23:18] rquintino commented on #21
Hi everyone! thinking a lot on this issue these past days, slightly more related to operationalization, pipeline reuse (ex: eval), retraining, & complete reproducibility. Remembered from Joaquin that this was an hot question for openml, & this was a great read/help!

I'm perfectly aware of the security implications and overal versioning issues of loaded resources, but even so, really pipelines sol

[2018-08-31 23:36] rquintino commented on #21
ps-lik mentioned above,probably the size and amount of runs will be a challenge for openml,
nevertheless really interesting that, when saving the full pipelines (complete flow with all prep/model), we can refit/predict with new train/test folds at any time, ex: refresh leaderboard.

noting that if the pipeline was really a gridsearch fit, then refitting would be rather expensive. :)

[2018-09-10 17:46] amueller opened #513 "No way to see splits for tasks in web interface"
Looking at the website it's impossible to see what the validation strategy for a given task is, from what I can tell.

[2018-09-10 17:49] amueller opened #514 "run repr broken when using run_model_on_task"
[code]
[code]

[code]

[2018-09-10 17:52] amueller opened #515 "run_model_on_task has no docs, run_flow_on_tasks docs are wrong"
See [here](https://github.com/openml/openml-python/blob/7a612eaece2fd28315d99dda3e2393ada2f27478/openml/runs/functions.py#L37) and [here](https://github.com/openml/openml-python/blob/7a612eaece2fd28315d99dda3e2393ada2f27478/openml/runs/functions.py#L58).

The ``run_flow_on_task`` actually needs a flow, not a model, from what I can see.

[2018-09-10 22:01] ArlindKadra commented on #515
I referenced the second part here #498 and I have not done a commit yet as there is also some additional functionality to be added into the function.

[2018-09-11 13:43] ArlindKadra opened #517 "Duplicate code/Not used"
#### Description

The following code is not used
https://github.com/openml/openml-python/blob/c08dd0f506b04716e7923b8993b8a1abe36f7713/openml/tasks/task.py#L119-L127

This code is used
https://github.com/openml/openml-python/blob/c08dd0f506b04716e7923b8993b8a1abe36f7713/openml/utils.py#L179-L209

[2018-09-11 22:42] janvanrijn commented on #504
I just added an additional PR, removing the default search and replading it by GridSearch. For this to fully work, some additional things need to change (i.e., GridSearch only has masked arrays if you provide it a list of grids)

What do you think of the current state?

[2018-09-12 14:09] mfeurer commented on #504
Not sure which PR you mean, could you please provide me with a link?

[2018-09-12 14:42] janvanrijn commented on #504
Typo, I wanted to say: additional commit

[2018-09-12 14:42] mfeurer commented on #514
Thanks for reporting this. We fixed this issue in PR #490, and this will work again in the next release.

[2018-09-12 14:42] #514 closed

[2018-09-12 14:54] mfeurer commented on #509
A run is created by instantiating a [run object](https://github.com/openml/openml-python/blob/master/openml/runs/run.py). Currently, only a [helper function](https://github.com/openml/openml-python/blob/master/openml/runs/functions.py) is able to do this.

However, I think you're talking about a flow (implementation of an algorithm). A flow can be created by instantiating a [flow object](https://g

[2018-09-12 14:58] mfeurer commented on #513
I assume you wanted to post this in the main issue tracker?

Nevertheless, I think you're looking for information on the [submit subpage](https://www.openml.org/t/31#!submit).

[2018-09-12 16:07] janvanrijn commented on #494
This will place a huge dependency on the scikit-learn version btw. Next week, we should really talk about decoupling openml-python and openml-scikitlearn

[2018-09-12 20:04] janvanrijn commented on #494
Something that came up in a conversation between @amueller and me.

In some way, it seemed weird that (de-)serializing a ColumnTransformer crashed. It seemed like a normal estimator, and should be serialized as such.

The reason that it crashed is that the openml-python converter assumes that all steps of a pipeline, voting classifier or feature union are lists of tuples of length 2. This is no lo

[2018-09-12 20:48] janvanrijn opened #520 "sklearn tests connect to live server"
when running the test in flow/test_sklearn.py, it automatically connects to the server that is configured in the config file. This seems like a mistake

[2018-09-12 20:49] janvanrijn commented on #520
I think correct behavior is: test cases connect to test server, unless the test case opts to connect to the live server.

config file should play no factor in the unit tests, right?

[2018-09-12 21:46] janvanrijn commented on #494
I committed a first attempt. I don't like it for the following reasons:
1) why does it serialize the name to:
`sklearn.compose._column_transformer.ColumnTransformer(numeric=sklearn.preprocessing.data.StandardScaler, nominal=sklearn.preprocessing._encoders.OneHotEncoder)`
I didn't expect `_column_transformer`, `data` and `_encoders` there.

2) The columns on which is splits are now part of the flow

[2018-09-13 07:01] mfeurer commented on #520
`test_sklearn` should not connect to the server in the first place. However, I cannot reproduce such behavior locally. Which test are you talking about exactly?

[2018-09-13 07:02] mfeurer commented on #494
Could you please post some example code?

[2018-09-13 11:17] ArlindKadra opened #522 "Remove try except"
It seems to me like the following code is not necessary, the cast will throw an error by itself if the object cannot be cast and the error message is explanatory.

https://github.com/openml/openml-python/blob/7a612eaece2fd28315d99dda3e2393ada2f27478/openml/flows/functions.py#L20-L23

https://github.com/openml/openml-python/blob/7a612eaece2fd28315d99dda3e2393ada2f27478/openml/tasks/functions.py#L27

[2018-09-13 14:58] ArlindKadra commented on #487
Adding a minimal example:
[code]
Output:
[code]

[2018-09-13 15:01] #487 closed

[2018-09-13 15:39] janvanrijn commented on #520
Agreed, I (unnecessarily) added a get task to the code.

Still, it seems weird that default behavior is connecting to the server depicted in the config file?

[2018-09-13 15:49] janvanrijn commented on #494
Something like this?

[code]

[2018-09-13 15:54] janvanrijn commented on #494
I was btw wrong about shortcoming 1 and 2.

Shortcoming 1 is something that happens now for all test cases (all fixtures changed?) and shortcoming 2 is simply not true (my bad).

In order for us to merge this, we would need:
1) final release for sklearn 0.20.0 (dependency check requires a real release number)
2) make a decision about unit tests. many of them have specific assumptions that require

[2018-09-17 10:32] ArlindKadra commented on #409
We are using Travis-CI to deploy the docs right now.

[2018-09-17 10:32] #409 closed

[2018-09-17 10:34] rth commented on #447
That would be fairly straightforward with pytest https://github.com/openml/openml-python/issues/327

[2018-09-18 11:37] janvanrijn opened #528 "Openml Data status Api function"
we should add support in the Python library

[2018-09-18 11:38] janvanrijn commented on #528
@joaquinvanschoren volunteered to document the API function

[2018-09-18 15:36] rth opened #530 "Running tests requires matplotlib"
As part of pytest migration in https://github.com/openml/openml-python/pull/527, it looks like matplotlib is hard dependency for running tests, despite what `setup.py` requirements, and `CONTRIBUTING.md` says.

It is imported in https://github.com/openml/openml-python/blob/7a612eaece2fd28315d99dda3e2393ada2f27478/tests/test_examples/test_OpenMLDemo.py#L5 but doesn't seem to be used (added in https

[2018-09-18 15:50] rth opened #531 "A large number of dependencies"
When using this package during the sprint, my impression was that a large number of mandatory (and possibly unused) dependencies need to be installed for this package.

In particular for mandatory dependencies,
 - matplotlib seems to be only used in one test (https://github.com/openml/openml-python/issues/530)
 - nbformat is only used in one test `tests/test_examples/test_OpenMLDemo.py`
 - the `no

[2018-09-19 09:07] mfeurer opened #532 "Take cost metrics into account"
when running scikit-learn benchmarks.

[2018-09-19 13:40] #522 closed

[2018-09-19 13:40] mfeurer commented on #504
Fixed in #505.

[2018-09-19 13:40] #504 closed

[2018-09-19 14:08] #327 closed

[2018-09-19 15:43] ArlindKadra commented on #393
Already in there.
https://github.com/openml/openml-python/blob/bd85d5e5fc86d6293ff34397acbda3b6cd904e1a/openml/tasks/functions.py#L113

https://github.com/openml/openml-python/blob/bd85d5e5fc86d6293ff34397acbda3b6cd904e1a/openml/tasks/functions.py#L143

[2018-09-19 15:43] #393 closed

[2018-09-19 21:32] mfeurer commented on #393
Fixed in #533

[2018-09-20 07:15] mfeurer commented on #530
We used to have a jupyter notebook as an example which used matplotlib. In the last few weeks, we replaced it by multiple small python examples and removed the plotting for the moment. The notebook was unit tested, and I guess we can remove that unit test for now. Do you want to create a PR for this?

[2018-09-20 07:31] mfeurer commented on #531
I agree that this package has a lot of dependencies. Regarding your comments:

* matplotlib: can be removed - see my answer in #530
* nbformat can be removed because of the same reason
* we will be able to remove mock once we drop python2 support. I don't think it is realistic that we will find time to refactor the unit tests to no longer use mock, though. Nevertheless, does pytest include a repla

[2018-09-20 12:57] ledell opened #536 "Printing the result of a run gives an error when flow_name is None"
#### Description

TypeError thrown when calling the print method on a `openml.runs.run.OpenMLRun` object when `flow_name` is `None`.

#### Steps/Code to Reproduce

[code]
Validating that the `flow_name` is `None`:

[code]

#### Expected Results

[code]

#### Actual Results

[code]

#### Versions

[code]

[2018-09-20 13:25] ArlindKadra opened #537 "No unit test for create_dataset"
#### Description
https://github.com/openml/openml-python/blob/8786457531e2aefd41e49b73a76d0869089bdbd8/openml/datasets/functions.py#L356
Function does not have a unit test. Although an example usage is located into the develop docs.

[2018-09-20 13:29] ArlindKadra opened #538 "get_task failing"
#### Description
Getting a certain clustering task is failing. Task shows fine on the server.
#### Steps/Code to Reproduce

[code]
#### Expected Results
Actual task.
#### Actual Results
`FileNotFoundError: [Errno 2] No such file or directory:`

[2018-09-20 15:10] ArlindKadra commented on #538
input is not a list but a dictionary.
https://github.com/openml/openml-python/blob/34c06df237dc3f953b0be77acedfc1f28b82abd5/openml/tasks/functions.py#L351

[2018-09-20 15:56] mfeurer commented on #184
@amueller ping

[2018-09-20 20:44] mfeurer opened #540 "Improve dataset uploading"
Reviewing PR #539 which tests dataset uploading, I found four things which we could improve to make dataset uploading nicer for the user:

1. There should be no necessity to provide the format as this will always be `'arff'`.
2. The current example encodes the class label as a `REAL`, although it should actually be a categorical.
3. We could add an example for uploading a list of lists, which coul

[2018-09-21 07:36] mfeurer commented on #537
Fixed by #539.

[2018-09-21 07:36] mfeurer commented on #537
No, it's actually not...

[2018-09-21 07:37] mfeurer commented on #537
but I really don't think we need one as this is simply one function call.

[2018-09-21 08:17] ArlindKadra commented on #537
@mfeurer yes, but since we thought it would be the main way that a user would choose to create a dataset, I think it should be tested.

[2018-09-21 08:50] ArlindKadra commented on #537
@mfeurer sorry, I put a missleading title and function line.

[2018-09-21 08:52] #537 closed

[2018-09-21 14:19] mfeurer commented on #540
After discussion with @ArlindKadra @joaquinvanschoren there are some more open points:

1. we need to check if the data is sparse and change the data format accordingly.
2. we need an example regarding the upload of sparse data
3. we need a unit test regarding the upload of sparse data

[2018-09-21 14:45] glemaitre commented on #540
Do you want to change the format depending if the user pass an array (dataframe) or a sparse array (dataframe)?

[2018-09-21 15:35] glemaitre commented on #540
I think this is OK. It is what I did in the loading stage https://github.com/openml/openml-python/pull/548

[2018-09-21 15:39] mfeurer opened #549 "Use tagging helper function(s)"
Currently, tagging is implemented manually. There is a helper function in `utils.py` which can be used to replace most code.

[2018-09-21 15:58] glemaitre opened #550 "Typo in OpenMLDataset"
There is a typo in the attribute `self.md5_cheksum` instead of `self.md5_checksum`.
I don't know if you want to keep it has it is or not (for backward compatibility.)

[2018-09-21 18:52] ArlindKadra commented on #550
I will take a look into it.

[2018-09-21 21:36] glemaitre opened #551 "Contrast code snippet on website"
I don't know if you had some user already mentioning it but IMO the color contrast (background/code) of the code snippet on the website is pretty low. It makes it difficult to distinguish the code from the comments. Am I the only one having trouble?

[2018-09-24 13:30] mfeurer commented on #536
Fixed by PR #563.

[2018-09-24 13:30] #536 closed

[2018-09-24 13:35] mfeurer commented on #551
Thank you for bringing this up. So far no one has mentioned this, but I can see how this is problematic. Unfortunately, I am not familiar with sphinx and the sphinx_bootstrap_theme package which reformats the website to look more modern. It would be great if someone with with knowledge of these packages (and knowledge of color usage and design) could look into this.

[2018-09-24 13:35] mfeurer commented on #550
Will be addressed in #547.

[2018-09-26 19:51] amueller commented on #540
is ``create_datasets`` listed in the api docs? I can't see any docs on uploading datasets at all :-/

[2018-09-26 20:04] ArlindKadra commented on #540
There is a tutorial at the docs -> user guide section. Check the docs at
/develop/ instead of dev. We have to remove the old dev folder as the
documentation is being deployed differently.

On Wed, Sep 26, 2018, 21:51 Andreas Mueller <notifications@github.com>
wrote:

[2018-09-26 20:04] amueller commented on #540
ah, I was looking at /develop/

[2018-09-26 20:07] amueller commented on #540
even more off-topic: is there a reason the example gallery is not in the top level menu and that progress and changelog link to the same thing?

[2018-09-26 20:10] amueller commented on #540
the create_dataset is still missing from the API docs

[2018-09-26 20:22] amueller opened #555 "make develop default branch?"
I think the default branch should be develop since people shouldn't do PRs against master, right?

![image](https://user-images.githubusercontent.com/449558/46107022-4b7dc400-c1a8-11e8-8a4a-836a83b6f7f0.png)

[2018-09-26 20:33] amueller commented on #540
#553 #554 #556

[2018-09-27 21:18] joaquinvanschoren opened #559 "float precision"
When a dataset is loaded (from an arff file), the values are converted to floats:

That's fine in itself, but when doing regression experiments, we need to upload both the predicted and actual (truth) value. However, when exporting the actual value back to strings (in the arff file), precision is lost.

For instance, here are the first values of the training set of task 738 (test server):

This is

[2018-09-27 23:05] joaquinvanschoren commented on #559
Another solution could be to store the exact values (string or decimal) as a component of the Dataset object when it first reads the data. That would ensure that you could pickle and cache it and still get the exact values back?

[2018-09-28 10:08] mfeurer commented on #559
Thanks for figuring this out. Indeed, the issue is the conversion of the target column into floating point representation.

That's a great idea, but doing it exactly like this will probably not work because the dataset won't know that it is a regression dataset. However, having a function called `Dataset.get_column()` which returns the values of a column as raw python data types could help here (a

[2018-10-01 12:03] mfeurer commented on #483
Part 2 of this issue is implemented by #482. Part 1 might be prohibitively expensive -> not doing this for now until there is a clear use case for this.

[2018-10-01 12:03] #483 closed

[2018-10-02 15:46] glemaitre commented on #555
+1 :)

[2018-10-05 12:32] ArlindKadra commented on #538
@janvanrijn  @mfeurer I am trying to fix the issue above and I have a question regarding the current implementation of tasks.
https://github.com/openml/openml-python/blob/811f9cee3bdbca535eb898282edab9ab6ee71594/openml/tasks/task.py#L10-L20

The base class upon which all of the tasks are built, has estimation procedure as a mandatory field, with type and parameters. The above issue is happening be

[2018-10-05 17:55] janvanrijn opened #562 "First run of sklearn classifier crashes constantly"
see attached error.

My guess: flow exists is called, and it returns null. Flow can be uploaded, but flow id is not fixed.

should be tested with a sentinel

[code]

[2018-10-05 20:11] janvanrijn opened #564 "OpenML Parameter to Sklearn Parameter and vice versa"
Currently missing functions, I would like to add them and I think they would belong in this library

[2018-10-05 20:15] mfeurer commented on #564
Could you please be a bit more specific? I don't really understand this issue.

[2018-10-05 20:17] mfeurer commented on #562
Could you please attach a minimal example to reproduce this?

[2018-10-05 20:38] janvanrijn commented on #564
Hyperparameters in our eco-system have generally three names. Take for example a pipeline with a decision tree (called: tree). Let's consider the `min_samples_leaf` hyperparameter.

The parameter name is `min_samples_leaf`
The scikit-learn name is `tree__min_samples_leaf`
The openml name is `sklearn.trees.DecisionTree(1)_min_samples_leaf` (or, one could argue that this hyperparameter can be unique

[2018-10-05 20:57] janvanrijn commented on #562
It is kind of hard to create a MWE, because it's hard to unit test. (while writing this, I found a nifty solution)

The current unit tests use the `run_flow_on_task` fn, which automatically uploads the flow, whereas the `run_model_on_task` potentially uploads the flow internally, triggering this problem.

[code]

[2018-10-06 19:42] janvanrijn opened #565 "Test Run Get Trace unit test fails"
[code]

Makes sense.

[2018-10-06 19:49] janvanrijn commented on #565
Come to think of it, I am a little bit surprised that this error did not manifest itself before. I reset the test server in the meantime, but I could not think of a reason why it didn't fail before.

[2018-10-06 20:04] janvanrijn commented on #565
Got it, it's because the try/catch around `avoid_duplicate_runs=True`

Although this is hard to test, I think just fixing this is fine.

[2018-10-07 01:58] janvanrijn opened #568 "No easy way of turning a model into an OpenMLSetup instantiation"
Future idea: _parse_parameters should move to the setup file, and return a list of OpenMLParameter (with appropriate fields filled in)

Has also implications for the upload fns.

Maybe even needs an improvement of the OpenML definition, where the setup parameters and the [run parameters](https://github.com/openml/OpenML/blob/master/openml_OS/views/pages/api_new/v1/xsd/openml.run.upload.xsd) are mo

[2018-10-07 02:01] janvanrijn commented on #568
Basically, the main reason why I opened this issue is that there is no simple way to create a setup, except from running a flow, uploading the result and downloading the setup. Would be cool to fix this.

[2018-10-08 06:17] mfeurer commented on #565
Where's this try/except statement?

[2018-10-09 22:46] janvanrijn opened #569 "get_flow crashes when downloading a flow from a different sklearn version"
example code (run with sklearn 0.20 installed):
[code]

When deciding whether to deserialize the model, it checks the dependencies according to a different schedule than when it actually deserialized the model. In the prior case, it just checks whether the correct library is available. In the latter case, it also checks the version number.

personally, I we should fix this before releasing a next

[2018-10-09 22:48] janvanrijn commented on #569
Also the error message is wrong. As flow 6969 was ran with 0.18.X.

[2018-10-09 22:48] janvanrijn commented on #569
We should probably put the dependency check in a more central place. And decide on the policy.

[2018-10-12 09:15] mfeurer commented on #565
Closed by merging #566.

[2018-10-12 09:15] #565 closed

[2018-10-12 09:20] mfeurer commented on #538
I think removing the estimation procedure from the base class and having it in the `OpenMLSupervisedTask` would be a clean solution.

[2018-10-15 07:53] mfeurer opened #570 "Rename X,y to features, labels"
As suggested here: https://github.com/openml/openml-python/pull/547#discussion_r225066702

[2018-10-15 09:03] ArlindKadra opened #571 "Parallel get_task fails"
#### Description
When I run parallel sub jobs in the cluster, the get_task fails by throwing an error file not found.

#### Steps/Code to Reproduce
Calling
https://github.com/openml/openml-python/blob/779fb82caa062a44816993e6224bc8ce8ff7f595/openml/tasks/functions.py#L275

in parallel sub jobs.

[2018-10-15 12:58] mfeurer commented on #570
Hey, that sounds great. We'll hopefully get #547 merged today or tomorrow, @glemaitre do you think we can get #545 merged quickly afterwards? Then the two biggest PRs would be done and his should be feasible without too many breaking changes. Also, I totally agree that you should strive to rename all variables and not just the public ones.

[2018-10-15 13:52] glemaitre commented on #570
Yes right after #547. I just need to address the missing point and merge conflict. I actually need the PR to upload some dataset :)

[2018-10-15 16:54] amueller commented on #513
Yes I did. What's the submit subpage?

[2018-10-15 16:54] #513 closed

[2018-10-15 16:57] amueller commented on #83
I have no idea what this means and it has too little information to reproduce.

[2018-10-15 16:57] #83 closed

[2018-10-15 16:57] amueller commented on #90
don't think this is relevant anymore

[2018-10-15 16:57] #90 closed

[2018-10-15 17:43] mfeurer commented on #513
If you look at the task page, you can see that it has multiple subpages (different tabs are on the right hand side). The link I posted brings you to a subpage which contains the information you asked for.

[2018-10-15 19:40] ArlindKadra opened #573 "Misleading Documentation"
https://github.com/openml/openml-python/blob/4ef4694655ef2e9b0db277360ec9e5db8d61c235/openml/datasets/dataset.py#L228-L229

The documentation is wrong, it is an Arff dictionary.

[2018-10-15 20:47] dmartinez05 opened #574 "Requirements file"
#### Description

I created a virtual environment for openml, and when I tried to pip install I need to install other packages, it would be great if a requirements.txt file with dependencies and version is provided.

[2018-10-15 20:51] dmartinez05 commented on #574
I see that the requirements are specified on the setup. https://github.com/openml/openml-python/blob/master/setup.py#L36

[2018-10-16 08:36] PGijsbers commented on #570
Cool! :) I'll try to keep an eye on it, but a ping here after the merges is appreciated!

[2018-10-16 10:16] #571 closed

[2018-10-16 10:17] ArlindKadra commented on #571
Fixed in #572

[2018-10-17 12:00] mfeurer opened #576 "Add flaky decorator to some tests"
Unit tests might fail due to the server being unavailable or slow. To avoid manually restarting them, we should add the [flaky decorator from py.test](https://github.com/box/flaky). This could take care of issues like the following one:

[code]

[2018-10-17 12:20] ArlindKadra opened #577 "Unittest Dataset Equality"
#### Description
Add a unit test for dataset equality. Something which was changed in #540.

[2018-10-17 13:02] ArlindKadra commented on #573
Fixed in #575

[2018-10-17 13:02] #573 closed

[2018-10-17 19:42] Motorrat opened #578 "create_dataset function is absent from openml.datasets.functions in OpenML 0.7.0"
#### Description
`create_dataset` function is absent from `openml.datasets.functions` in OpenML 0.7.0
yet it is referenced in the tutorial https://openml.github.io/openml-python/develop/_downloads/cfed637ede9071636ff8da65fe73607a/create_upload_tutorial.py
https://openml.github.io/openml-python/develop/examples/create_upload_tutorial.html

#### Steps/Code to Reproduce
`pip install openml`
or
[code]

[2018-10-18 16:53] amueller opened #579 "can't use > filter in list_datasets"
[code]

[code]

[2018-10-20 16:20] janvanrijn opened #580 "Listing functions when not enough results are available"
It occured to me that the listing function goes bananas when there are less results available that we wanted to obtain.

I extended the unit test of `test_utils.py`:
[code]
It actually makes more calls. I will push a fix

[2018-10-27 13:03] PGijsbers commented on #570
I noticed both PRs have been merged, so I will start working on it now.

[2018-10-28 08:06] joaquinvanschoren opened #585 "Refactoring: Use Enums for task types"
#### Description
We currently handle task-type specific logic in if-else statements using the task type ID's, like:

[code]

This is very hard to read/maintain and likely to lead to unexpected behavior.
It would be a lot nicer to replace this by enums, so that we can write:
[code]

One question is where to put the enum definition. Maybe in utils or otherwise in task.py and then imported wherever i

[2018-11-06 15:31] ArlindKadra opened #587 "Extra information saved, Duplicate code"
#### Description

OpenMLClassificationTask, OpenMLLearningCurveTask in task.py need a refactor. They save information which is already there by inheritance.

https://github.com/openml/openml-python/blob/7b81daee20950f7c70de14fa7ea47c9fa2a7dc8e/openml/tasks/task.py#L144-L151

https://github.com/openml/openml-python/blob/7b81daee20950f7c70de14fa7ea47c9fa2a7dc8e/openml/tasks/task.py#L203-L210

[2018-11-07 03:41] janvanrijn opened #589 "ignore features ignored when uploaded"
(code doesn't run because dataset is not processed on downloading yet, but the idea is clear)

[code]

[2018-11-07 20:36] dmartinez05 opened #590 "Documentation is somehow ambiguos."
#### Description
You can see here:
 https://github.com/openml/openml-python/blob/master/openml/runs/functions.py#L920

It is not very clear what kind of arguments the function is expecting, even that it is a list for the `flow` part, it is not clear whether or not is expecting a list of flows, or a list of flows_id.

#### Expected Results
It would be even better if typing could be added.

[2018-11-08 03:26] dmartinez05 opened #591 "OpenMLServerError: Unexpected server error. Please contact the developers! Status code: 500"
#### Description
[code]

#### Steps/Code to Reproduce

[code]

#### Versions
Darwin-17.7.0-x86_64-i386-64bit
Python 3.6.5 (default, Apr 25 2018, 14:23:58)
[GCC 4.2.1 Compatible Apple LLVM 9.1.0 (clang-902.0.39.1)]
NumPy 1.15.2
SciPy 1.1.0
Scikit-Learn 0.19.1
OpenML 0.7.0

[2018-11-08 03:44] janvanrijn commented on #591
Seems like an API issue. I will investigate.

[2018-11-08 03:55] janvanrijn commented on #591
Should work again. We are switching servers, and I was a bit sloppy with testing something.

sorry for the inconvenience.

[2018-11-08 03:56] #591 closed

[2018-11-08 13:58] dmartinez05 commented on #591
It seems to work, thanks!

[2018-11-09 10:11] mfeurer commented on #590
Thanks for reporting this. Would you like to contribute an improved documentation of this function (and maybe other ambiguously documented functions)?

We'll add typing information gradually after our next release (more specifically, we'll do one more python2 compatible release and then move to python3 only, which support type annotations).

[2018-11-09 13:38] dmartinez05 commented on #590
Sure, I can work on that.

[2018-11-13 12:30] mfeurer commented on #570
Hey, yes, the development branch currently has one failing unit test. @janvanrijn promised to fix this throughout the next days (as this requires quite a lot of work). However, it should be safe to ignore this unit test for renaming the attributes.

[2018-11-15 01:56] dmartinez05 commented on #590
Also, which is the devel branch? or which one should I use?

[2018-11-15 21:39] joaquinvanschoren commented on #590
It's called 'develop' :)
We usually start a new subbranch of develop for every change, and then do a PR into the develop branch.

[2018-11-16 15:44] #550 closed

[2018-11-16 15:45] mfeurer commented on #494
This was added in #523 and #526.

[2018-11-16 15:45] #494 closed

[2018-11-16 15:46] mfeurer commented on #540
This was fixed by #547

[2018-11-16 15:46] #540 closed

[2018-11-16 15:50] mfeurer commented on #41
This is actually documented by now.

[2018-11-16 15:50] #41 closed

[2018-11-16 15:52] mfeurer commented on #116
Sadly, this will most likely not happen any more.

Closing this for now as @jnothman is constantly improving liac-arff.

[2018-11-16 15:52] #116 closed

[2018-11-16 15:53] mfeurer commented on #292
@joaquinvanschoren did you recently try uploading a dataset? Can this be closed?

[2018-11-20 03:11] AndriyMulyar commented on #578
For anyone else coming across this:
`pip install git+https://github.com/openml/openml-python.git@develop`

[2018-11-20 04:20] AndriyMulyar opened #593 "Cannot run example code for adding dataset"
#### Description
API returns this error to openml-python:
`openml.exceptions.OpenMLServerException: https://www.openml.org/api/v1/xml/data/ returned code 131: Problem validating uploaded description file`

When running create_dataset with 'develop' branch installed. I am running the example code found at https://openml.github.io/openml-python/develop/examples/create_upload_tutorial.html. My goal i

[2018-11-20 13:16] janvanrijn commented on #593
Thanks for reporting this. Can you please copy the code snippet that creates this error?

[2018-11-20 16:57] AndriyMulyar commented on #593
`citation = (
    """
    J. Alcalá-Fdez, A. Fernandez, J. Luengo, J. Derrac, S. García, L. Sánchez, F. Herrera. KEEL Data-Mining Software Tool: Data Set Repository, Integration of Algorithms and Experimental Analysis Framework. Journal of Multiple-Valued Logic and Soft Computing 17:2-3 (2011) 255-287.
    """
)

description = (
    'The weather problem is a tiny dataset that we will use repeatedl

[2018-11-20 17:14] joaquinvanschoren commented on #593
Hi Andriy, I bet this happens because the citation has to be basic latin:
https://www.openml.org/api_docs#!/data/post_data
<xs:element name="citation" minOccurs="0" type="oml:basic_latin1024"/>

Possible solutions:
- Update the server XSD to allow accents in the citation
- Auto-convert such strings in the python API
- Return a better error message

For now you can just remove the accents, but I ag

[2018-11-20 20:08] dmartinez05 opened #594 "Crash by trying to get task."
#### Description
It crashing when I try to get some tasks

#### Steps/Code to Reproduce
[code]
#### Expected Results
Get the flow

#### Actual Results
[code]

#### Versions
Darwin-17.7.0-x86_64-i386-64bit
Python 3.6.5 (default, Apr 25 2018, 14:23:58)
[GCC 4.2.1 Compatible Apple LLVM 9.1.0 (clang-902.0.39.1)]
NumPy 1.15.2
SciPy 1.1.0
Scikit-Learn 0.19.1
OpenML 0.7.0

[2018-11-20 20:36] joaquinvanschoren commented on #594
The problem is this:
curl https://www.openml.org/data/v1/download/1/anneal.ARFF
curl: (18) transfer closed with 6 bytes remaining to read

So it seems that the number of bytes was not stored correctly in the database

[2018-11-26 16:18] AndriyMulyar opened #595 "Systematically Adding Tasks to Benchmarks in a Study"
#### Description
I have a [study](https://www.openml.org/s/184) full of uploaded data benchmarks. I would like to create associated supervised classification tasks for each benchmark automatically; however, I have not been able to find any applicable functions for creating tasks in the Python API.

The online form on the web-application for manual task creation appears to not be working at the cur

[2018-11-27 16:43] KOLANICH opened #596 "Separate interaction with API into a dedicated package"
#### Description
`openml` package has to many dependencies, if I just want to do some interaction with API, I don't need them all.

[2018-11-29 15:49] mfeurer opened #597 "Handle 404 responses separately"
Currently, the python connector cannot parse the error message because it is html. If the error code is 404, it should simply print a different error message instead of trying to parse it.

@janvanrijn is this correct? Maybe there shouldn't be an html response by the server if there's a 404?

[2018-11-29 16:11] janvanrijn commented on #597
Servers (almost) always give html output on a 404, see for example:
https://www.facebook.com/matthias.feurer.freiburg (fancy way of saying 404)

Most important thing is that the server sends a 404 header (I assume it does, let me know otherwise) and agree that the connectors should report this otherwise.

[2018-11-29 16:13] mfeurer commented on #597
I think it sends a 404 header (the travis logs suggest that). Then the issue is simply that this isn't parsed properly.

[2018-11-29 16:19] janvanrijn commented on #597
If you refer to the failing unit tests, yes it sends a 404 header.

However, as OpenML is a complex system, there are various ways to trigger a 404 error (by wrong api call, setting wrong api url, or in this case by trying to access a file that seems internally lost). Please report if a situation occurs where not a 404 is send.

[2018-11-29 22:37] joaquinvanschoren commented on #594
Not fixed yet. This requires a database update.
@janvanrijn shall we just update the bytecount in the database?
@mfeurer: does it still work for you after you clear your cache?

[2018-11-29 22:48] janvanrijn commented on #594
We encountered this issue long ago in the database. To me, it seems like a very serious problem. The byte count in the database and on the filesystem does not longer correspond for several files.

No! We discussed this before, and to state again, I would be extremely against removing the symptom without knowing the cause.

Possible causes:
1) We lost for many files bytes on the file system (corrup

[2018-11-29 23:23] nok commented on #597
I think that the body of the request should match the type of the request header `Accept`, e.g. `Accept: application/json`, `text/html` and `text/xml`. In the current status the server ignores the request headers and uses the route (specific controller) to return data with a fixed representation.

Examples:

1. Request website, get HTML (correct):
[code]
[code]

2.1. Request to API (JSON), get JSO

[2018-11-29 23:31] nok commented on #597
(@janvanrijn What do you think about [Laravel/Lumen](https://lumen.laravel.com/docs/5.7/responses#other-response-types)? It's the successor of CodeIgniter and provides various features, like dynamic routing, different responses and more that could improve the development, maintainability and security of the backend.)

[2018-11-29 23:36] nok commented on #596
Which ones?

[2018-11-29 23:48] nok commented on #594
@janvanrijn To protect the raw datasets (3.) you can apply read-only rights (644) (whereby the owner is a separate user).

[2018-11-29 23:58] janvanrijn commented on #597
At first look, it seems pretty cool.

How big / involved is the community around it?

[2018-11-30 00:00] janvanrijn commented on #594
I am pretty sure they are already, but most of the core maintainers also have sudo rights (to be used responsibly).

[2018-11-30 00:00] janvanrijn commented on #594
thanks for the suggestion though :)

[2018-11-30 00:01] joaquinvanschoren commented on #594
1. Doubt it, the file seems fine?
2. It worked before. So that can't be it?
3. I haven't touched any dataset files in the last year or so.
4. This would also be my best guess.

In general, if we get some more help with the backend, I think we should move the datasets to an object store (or cloud service) instead of storing them as raw files. Raw files are hard to manage, especially in large number

[2018-11-30 00:08] janvanrijn commented on #594
I would be more comfortable with removing the measured filesize from the database (and from the download header) once we have a reliable written source that option (4) is indeed plausible. I have searched for this many times, and could never find anything relevant.

[2018-11-30 00:11] dmartinez05 commented on #594
There is no need; I just reported something that I encounter while getting some data. :)

[2018-11-30 00:13] joaquinvanschoren commented on #594
The file has 644 permissions, last modified in September 2017.
It has 143338 bytes, database says 143344.
The only thing that `changed' is that we moved files to a new server this month.

@dmartinez05: thanks for being so forgiving :). Still, downloading task 1 is something many people will do, so I'd like to solve this soon :).

[2018-11-30 00:22] janvanrijn commented on #594
I completely agree, and I would like to see this solved as well as soon as possible, but I would like to restate that the system will not get better if we only treat the symptom, and not the cause, and something like this might happen again, with potential bigger consequences.
Additionally, this is by far not the only file that suffers from this 'problem'.

Not the only thing. This (and many other

[2018-11-30 00:26] joaquinvanschoren commented on #594
Don't worry, I remember that we discussed this before :). We didn't find the cause and left it at that, right?

The file also has 143338 bytes on the old server. So it wasn't the server move?
Maybe it was indeed changed manually a year ago and we are only now seeing issues?

Can you easily test how many files we are talking about?

[2018-11-30 00:30] janvanrijn commented on #594
I suspect it was the server move from Leiden to Eindhoven.

No, but I see the evaluation engine crash quite often on this with old runs. You can try this query on the database:
`
SELECT * FROM run_evaluated WHERE error LIKE "Premature end of Content-Length%"
`

[2018-11-30 01:04] joaquinvanschoren commented on #594
Apparently, 73 datasets have this issue. Almost all are older datasets.

[2018-11-30 01:07] janvanrijn commented on #594
Interesting. Not entirely sure if it is dataset or run (predictions, description file) related. Quite possibly the datasets are the issue.

[2018-11-30 01:13] joaquinvanschoren commented on #594
If we are reasonably sure that this because of a bad earlier file move (and this now seems plausible to me), we could test this by recomputing and storing the file sizes anew. If that was indeed the issue, that will fix the problem permanently. If the issue comes back, then we know we need to look elsewhere.

[2018-11-30 01:30] janvanrijn commented on #594
the fact that these runs are all from the same 73 datasets makes me actually doubt this

Is there a plausible explanation why exactly 73 dataset files are affected, and millions of files from the other categories (flow, run file, etc) are fine? This statistic just does not make sense to me.

[2018-11-30 01:48] janvanrijn commented on #594
I think the best action point is to write a script that determines which files have the wrong file size (important todo, but doesn't have to happen now* as we are all busy preparing for nips). If it are indeed only the 73 datasets then my conclusion would be that someone (with good intentions) manually manipulated the datasets, fix the filesizes (and potential md5 hashes) and close the issue physi

[2018-11-30 06:49] KOLANICH commented on #596
https://github.com/openml/openml-python/blob/7a612eaece2fd28315d99dda3e2393ada2f27478/setup.py#L47
https://github.com/openml/openml-python/blob/7a612eaece2fd28315d99dda3e2393ada2f27478/setup.py#L44
are used only in flows and are unneeded for fetching datasets via API. Though it may make sense to create a separate package dedicated to interaction wjth api with minimum of dependencies.

https://gith

[2018-12-01 01:39] nok commented on #596
Yes, I agree. In addition the unit tests should be excluded for a release.
https://github.com/openml/openml-python/blob/master/setup.py#L35

[2018-12-01 01:46] nok opened #599 "`This branch is 86 commits ahead of master.`"
When will the `develop` branch be merged into the `master` branch?
https://github.com/openml/openml-python/compare/develop

It's difficult to contribute because the `master` is broken:
https://travis-ci.org/openml/openml-python/branches

[2018-12-01 02:07] janvanrijn commented on #599
Thanks for this message.

Contributions should be done in develop. We merge develop twice per year into master (in 2018 actually only once..) See here out git flow model: https://nvie.com/posts/a-successful-git-branching-model/ (applicable to openml-python)

[2018-12-01 04:21] nok commented on #599
TY @janvanrijn 👍

[2018-12-01 04:21] #599 closed

[2018-12-03 09:07] mfeurer commented on #599
It's on my todo list now that the tests work again.

[2018-12-03 09:17] mfeurer commented on #596
A few brief comments:
* oslo.concurrency: Necessary to use the OpenML connector multiple times in parallel. However, if there are any better locking tools with less dependencies I'd be happy to accept a PR which changes this. I chose oslo back then because it's the successor of [lockfile](https://pypi.org/project/lockfile/).
* scikit-learn: I can see your point here, but for now this has the huge

[2018-12-03 10:22] mfeurer commented on #538
Fixed by #541.

[2018-12-03 10:22] #538 closed

[2018-12-03 17:32] mfeurer commented on #580
Fixed by #581.

[2018-12-03 17:32] #580 closed

[2018-12-06 00:25] janvanrijn opened #602 "Reinstantiating Setup with Column Transformer does not set back the transformer values"
#### Description
Reinstantiating Model with Column Transformer does not set back the column values

#### Steps/Code to Reproduce
[code]

#### Expected Results
Run executed twice,

#### Actual Results
[code]

I suspect this is due to the columns have not gone through the column transformer and the 'passthrough' mechanism has been activated.

[2018-12-06 00:43] janvanrijn opened #603 "Reinstantiating flow with ColumnTransformer does not set back the transformer values"
#### Description
related to #602, but different (this one is about flows)

#### Steps/Code to Reproduce
[code]

#### Expected Results
to model the dataset, twice

#### Actual Results
[code]

Oddly, clearly the default value is stored. It is just not used.

[2018-12-06 01:04] janvanrijn commented on #603
I was wrong.

Some explanation, I mixed up task values. Because it relies on a default value, this error will still get thrown once the default has been created on task X, and it will be executed on task Y (obviously).

This can still be unit tested with a sentinel.

[2018-12-06 01:04] #603 closed

[2018-12-06 01:09] janvanrijn commented on #602
Basically this happens because the hyperparameter value for 'transformer' is never uploaded to the server. Will propose a fox asap.

[2018-12-06 01:19] janvanrijn commented on #602
Basically it's because of the try catch in extract_parameters in run.py, it skips flows themself. TBC

[2018-12-06 23:56] janvanrijn opened #604 "Task API changed?"
#### Description
Task API changed

#### Steps/Code to Reproduce

[code]

#### Expected Results
A dict mapping from key to value, where value is either a string or another dict

#### Actual Results
Suddenly, tuples appeared. Is there any reason for this?

[code]

[2018-12-07 00:19] janvanrijn commented on #604
This is getting just crazy. The type of the parameters changes. I added two prints to this function
[code]

This is the outcome. Looks like dark magic to me.
[code]

[2018-12-07 00:30] janvanrijn commented on #604
Someone added a comma after these lines, effectively changing them into tuples. This seems like a mistake.

We should handle these things with a bit more care. These kind of set backs always take a long time to debug

[2018-12-07 08:20] mfeurer commented on #604
I think so, too. I just merged this. Nevertheless, @ArlindKadra could you please confirm this?

I didn't spot that mistake and the unittests didn't either. It seems like this information wasn't used yet? Any suggestions on how to improve this?

[2018-12-07 08:20] #604 closed

[2018-12-07 08:36] mfeurer commented on #485
Fixed via #601.

[2018-12-07 08:36] #485 closed

[2018-12-07 08:36] mfeurer commented on #569
Fixed via #601.

[2018-12-07 08:36] #569 closed

[2018-12-07 08:51] ArlindKadra commented on #604
@mfeurer @janvanrijn  I can confirm that Jan found a bug. It was added when @mfeurer merged the pull request for more tasks from Joaquin  https://github.com/openml/openml-python/pull/544
How that did not raise a bug when a comma was added there should be fixed. We should include a unit test.

[2018-12-11 10:14] mfeurer commented on #564
Added via #564 by @janvanrijn

[2018-12-11 10:14] #564 closed

[2018-12-12 16:35] ArlindKadra opened #608 "dataset_id referenced before assignment"
#### Description

While trying to get the run with id 186276, the error dataset_id referenced before assignment was raised.

The error is happening here:

https://github.com/openml/openml-python/blob/7c0a77d232a64da76be18bbce76e4bb8aeb4155b/openml/runs/functions.py#L883

Taking a quick look into the function throwing it, this seems to be the problem:
https://github.com/openml/openml-python/blob/7c

[2018-12-13 09:35] mfeurer commented on #608
I assume that there's an else statement missing?

[2018-12-13 09:50] ArlindKadra commented on #608
That would be the easy hack yes, but do we really want to have runs without
datasets ?It seems to me the code is correctly trying to enforce having a
dataset id if the run is from the server.

On Thu, Dec 13, 2018, 10:35 Matthias Feurer <notifications@github.com wrote:

[2018-12-13 10:56] janvanrijn commented on #608
I think it's a problem with the run (will check why it's invalidated later)

Although not enforced by design, all current task types work on a dataset.

Op donderdag 13 december 2018 heeft Arlind Kadra <notifications@github.com>
het volgende geschreven:

[2018-12-13 22:16] joaquinvanschoren commented on #392
It's happening again:
https://www.openml.org/r/9912434

[2018-12-18 18:19] ArlindKadra commented on #392
@mfeurer It is from the recent pull request regarding flows that was merged into development.

https://github.com/openml/openml-python/blob/7c0a77d232a64da76be18bbce76e4bb8aeb4155b/tests/test_flows/test_sklearn.py#L994-L1005

The class does not extend OpenML's TestCase but the unittest one. That is why it is publishing at the main server.
https://github.com/openml/openml-python/blob/7c0a77d232a64d

[2018-12-18 18:33] ArlindKadra commented on #392
@mfeurer A solution is:
setting the config.server to the production server in the setup
changing the config.server to the test server in the test_openml_param_name_to_sklearn unittest

[2018-12-19 10:14] mfeurer commented on #392
Thanks @ArlindKadra for checking. I just created PR #609 to subclass all test cases from OpenML's core test case which hopefully fixes this issue.

[2018-12-19 16:33] ArlindKadra commented on #392
@mfeurer that is actually better, I am surprised that the sklearn tests did not make use of any tasks from the production server.

[2019-01-10 14:40] ArlindKadra opened #610 "Dataset processed with error"
#### Description
While trying to get a task, the following error happened:

`OpenMLServerException: https://www.openml.org/api/v1/xml/data/features/1176 returned code 274: No features found.  Additionally, dataset processed with error
`

The dataset that the task is built on is deactivated, however there are about 25k runs.
Is this the expected behaviour?

#### Steps/Code to Reproduce
```openml.ta

[2019-01-15 15:25] mfeurer opened #611 "Improve contribution guidelines"
Improve the contribution guide by adding a note in the readme. Also check for other places where beginners guides could be placed.

[2019-01-24 23:00] joaquinvanschoren opened #612 "Can't download dataset metadata without downloading the dataset itself"
#### Description
There are situations where one only wants to see the meta-data of a given dataset. The current get_dataset always downloads and parses the dataset itself. This is slow(!), and can cause errors if the files are really large.

It would be nice to have an option (or another call) to download the meta-data only.

To make matters worse, the arff parser requires many times the file size

[2019-01-25 22:47] janvanrijn commented on #612
Agreed. Similar for tasks, where the split file is commonly downloaded (potentially 10 times the size of the dataset)

[2019-01-29 07:53] mfeurer commented on #612
Agreed, being able to disable this would be a great addition. I think actually be a better solution than the one proposed in #346, what do you think @amueller ?

[2019-01-29 08:15] mfeurer commented on #392
Okay fixed again via #609.

[2019-01-29 08:15] #392 closed

[2019-02-13 11:37] ArlindKadra opened #616 "Klaverjas Dataset"
#### Description

Get data fails while trying to retrieve the examples and labels of the Klaverjas dataset.
#### Steps/Code to Reproduce
[code]
#### Actual Results
Dataset 41228 not compatible, PyOpenML cannot handle string features

[2019-02-13 11:47] mfeurer commented on #616
That's a duplicate of #257, closing this. It might be added via #548.

[2019-02-13 11:47] #616 closed

[2019-02-13 12:54] janvanrijn commented on #616
For this particular dataset, the string attribute (sh/c)ould be ignored

[2019-02-13 13:26] PGijsbers commented on #612
I agree that metadata should be accessible easily without downloading the whole dataset. I think adding a parameter to the `get_dataset` method makes sense, e.g.:
[code]

We would then also have to update the `get_data` method to check if the data is already present in cache.

For those looking for a solution right now to download `qualities` metadata without downloading the actual data, use this

[2019-02-15 10:29] #602 closed

[2019-02-15 10:29] janvanrijn commented on #602
Fixed

[2019-02-16 15:58] janvanrijn opened #619 "duplicate functions tags"
all entities (`data`, `flow`, etc) have a `push_tag` and `remove_tag` function, but this functionality is also implemented in `utils.py` with the function `_tag_entity` (tags and untags). Let's drop either of these functionalities (or at least make the `push_tag` and `remove_tag` functions use `_tag_entity` as backend)

[2019-02-18 08:39] mfeurer commented on #410
* **0.9**:
    * Handling of regression and clustering tasks.
    * Removal of python2.
    * Upload/creation of tasks.
    * Full support of pandas: handling of strings and correct handling of categorical attributes, returning DataFrames instead of dictionaries of dictionaries in listing calls.
    * Providing a clean interface to let other packages talk to the OpenML connector.
* **0.10**: Bette

[2019-02-18 08:41] mfeurer commented on #292
Closing this due to inactivity. If this is still an issue with the recent 0.8 release, please reopen.

[2019-02-18 08:41] #292 closed

[2019-02-19 09:18] joaquinvanschoren opened #621 "Better error messages on listing queries"
#### Description
When you want to list items using the listing calls, you have to provide lists (e.g. a list of tasks). If you don't know this you get a cryptic error message 'TypeError: 'int' object is not iterable'

#### Steps/Code to Reproduce

[code]

#### Expected Results
Either detect that it is an integer instead of a list and handle internally, or provide a clearer error message that a lis

[2019-02-19 09:25] joaquinvanschoren opened #622 "upload time and error message missing from list_runs"
#### Description
When you list runs, upload time and error message are not shown, even though they are returned by the OpenML API. It would be very handy if these can be added.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]
#### Actual Results
[code]

#### Versions
Linux-4.14.79+-x86_64-with-Ubuntu-18.04-bionic
Python 3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]
NumPy 1.1

[2019-02-21 15:51] PGijsbers commented on #410
Questions regarding refactoring for Python3:
 - Do we want to maintain support for passing both strings and ints as arguments (for e.g. ids). If so, I assume we document this with Union[string, int] type hints?
 - Do we want to start using `.format` to format strings instead of the `%` operator?

[2019-02-21 18:32] PGijsbers opened #624 "PEP8 Compliance"
The `develop` branch is not PEP8 compliant. Specifically, after cloning the repo and running flake8, the following output is produced (ignoring E402 as per [script](https://github.com/openml/openml-python/blob/master/ci_scripts/flake8_diff.sh#L128)):

[code]

[2019-02-22 15:12] mfeurer commented on #410
Sounds good to me.

Is there any advantage doing so? If not I do not see a reason to adapt the code.

[2019-02-22 15:32] PGijsbers commented on #410
Mostly in dealing with tuples and dictionaries (see [the docs](https://docs.python.org/3/library/stdtypes.html#old-string-formatting)). I believe I have read `%` is officially deprecated though without any plans to actually remove it, though I can not find a first hand source for this easily.
In my opinion, the fact that the `%` string-operator is unique to python while a fine legible alternative

[2019-02-22 19:26] janvanrijn opened #626 "test_list_datasets_with_high_size_parameter fails often"
This function seems to fail often.
[code]

My assumption: due to multi threaded testing, in between the two list dataset calls some new datasets have been uploaded.

We should redesign this test case.

[2019-02-22 20:00] mfeurer commented on #410
Thanks for bringing up these arguments. I think these are good reasons to change the practice. Let's try to do this as we work on the package.

[2019-02-22 20:43] janvanrijn commented on #626
Solution in https://github.com/openml/openml-python/pull/628

[2019-02-22 22:03] ArlindKadra commented on #410
Although I understand the benefits, I am going to mention some of the drawbacks that I see. Feel free to correct me if I am wrong.

Regarding the part about people coming from other languages. Previous to python, I mostly programmed in Java and C.
%d, %f, %s is used in both programming languages and is common. In fact I would say that the 'old style' formatting in python was inspired by C. For the

[2019-02-23 09:50] PGijsbers commented on #410
Thanks for the feedback. And while I am fine with either `%` or `.format`, I still want to address your points:

It has been a while for me programming C, but I don't recall the `%` operator? I recall it in the format-string, but otherwise isn't the signature `printf(char * format, ...)`? Is it different for Java? I am specifically talking about the `%` operator, that is the `%` between the string

[2019-02-23 11:15] ArlindKadra commented on #410
It has been a while for me too, with what I recall, there is no `%` operator in both languages between the string and the vars. I was referring to the `%` in the format-string as you mentioned, that is familiar between all.

Because unless we are adding it to a code guideline regarding contributions, it can be an observed scenario.

Yes, I agree on this :)

Personally, I am fine with either `%` or

[2019-02-25 08:13] mfeurer commented on #626
Closed via #628.

[2019-02-25 08:13] #626 closed

[2019-02-25 08:33] PGijsbers commented on #624
Closed because #625 fixed this (except for the examples, which should have different treatment due to them being documentation).

[2019-02-25 08:33] #624 closed

[2019-02-25 08:48] PGijsbers commented on #624
Documentation also complies as per #630 .

[2019-02-25 09:37] mfeurer commented on #422
Closing this as it appears to be added. Please reopen @janvanrijn if that's not correct.

[2019-02-25 09:37] #422 closed

[2019-02-25 09:39] mfeurer commented on #593
Closing this as this is a problem with the main server error message.

[2019-02-25 09:39] #593 closed

[2019-02-25 09:39] janvanrijn commented on #422
You are correct.

[2019-02-25 09:43] mfeurer commented on #312
Fixed via #560

[2019-02-25 09:43] #312 closed

[2019-02-25 09:43] mfeurer commented on #184
Closed via #623

[2019-02-25 09:43] #184 closed

[2019-02-25 13:03] janvanrijn commented on #574
I think the requirements file was removed on purpose @mfeurer ?

[2019-02-25 13:05] mfeurer commented on #574
Maybe, I can't recall. I do by now know how to usefully have them in both the setup and the requirements file, so I'd be happy if someone re-adds that.

[2019-02-25 13:24] janvanrijn opened #631 "Code simplifications: listing calls"
Currently, we have:

* `openml.utils._list_all`
* `openml.*.list_*` (where * can be `datasets`, `flows`, `tasks`, `setups` and `runs`)
* `openml.*._list_*`
* `openml.*.__list_*`

Making a grand total of 16 functions, for what is basically a single function. Seems like a lot of confusion to me. Would be great if we could look for ways to consolidate this to at most 6 different functions.

[2019-02-25 13:37] janvanrijn opened #632 "Feature request: study list"
OpenML API supports study listing, but I haven't implemented this in Python yet. Would be cool to add this.

https://test.openml.org/api/v1/study/list/status/all

Legal filters:
- status {in preparation, active, deactivated}
- uploader
- offset
- status

I believe the api docs are currently under review.

[2019-02-25 13:38] janvanrijn commented on #568
This has been added by #567

[2019-02-25 13:38] #568 closed

[2019-02-25 13:39] janvanrijn commented on #555
I agree as well. Can't count the number of times I created the PR against the wrong branch.

[2019-02-25 17:04] PGijsbers commented on #451
I am working on #498 and while it's not necessary to remove it, should we do it anyway? It's been 8 months now, so it feels safe to me. Throwing a clear `TypeError` in the case that the old order is used, of course.

[2019-02-25 17:06] mfeurer commented on #451
I recently found that this our old OpenML100 paper has an example using the wrong argument order. Therefore, I would like to keep it as long as the OpenML100 paper is updated.

[2019-02-25 17:16] PGijsbers commented on #451
Sounds reasonable.

[2019-02-26 13:03] mfeurer commented on #410
Thanks for the comments. @PGijsbers would you like to add an update to the contribution guide on how to format the strings?

[2019-02-26 14:19] janvanrijn commented on #632
Merged

[2019-02-26 14:19] #632 closed

[2019-02-27 12:14] PGijsbers commented on #410
Will do after finishing #516.

[2019-02-27 15:14] PGijsbers opened #634 "Should we add read-only attributes (or prefix with underscore)?"
Currently our python objects tend to have many attributes that we only want modified by the API itself, e.g. all of the reference to `id`s. However, by not prefixing those attributes or making them read-only, we don't signal clearly to the users that they should not be tampered with.

At the same time (partially because of this?), we introduce a lot of extra work to test behavior which should only

[2019-03-03 13:36] PGijsbers commented on #304
I ran into this as well. In my case I wanted to specify all possible labels for the scikit-learn OrdinalEncoder, and the possible labels were retrieved from the dataset, which was stored as numpy floats. Extending for numpy types should be relatively simple, given we can retrieve them programmatically:
[code]
e.g.
[code]
and then
`elif isinstance(o, simple_types) or o is None:`
I expected this to

[2019-03-03 13:56] PGijsbers commented on #304
First off, a (artificial) minimal example that exposes the issue:
[code]
this currently raises
[code]
After patching in the `simple_types` check of the previous comment, the following error is raised instead:
[code]
So we could extend the `sklearn_to_flow` by casting to the native data types:
[code]
This seems to work as expected.

[2019-03-03 14:06] PGijsbers opened #636 "`sklearn_to_flow` raises TypeError on simple flow"
I found that the following simple example does not convert to an `OpenMLFlow` with `sklearn_to_flow` . I do not know *why* this happens (lists of lists?). The definition of a flow in code is also quite unclear and has a lots of gaps left with "TODO: add documentation".
[code]
raises
[code]

[2019-03-04 10:12] mfeurer commented on #304
It appears like this is a common feature request. The only thing I'm a bit worried about is that we cannot easily do the de-serialization and get a numpy dtype again. Maybe that is not an issue for simple scalars but only for arrays?

[2019-03-04 10:25] PGijsbers commented on #304
For the types that would now be included for serialization (various bit-length ints, uints, floats and complex), I don't foresee an issue. Could you come up with a concrete issue where it would matter? Otherwise I think it it's smarter to add this feature and tackle the problem if it actually comes up.

[2019-03-04 10:29] mfeurer commented on #304
Makes sense. Please assign me to your PR once it is ready.

[2019-03-05 08:37] mfeurer commented on #634
I completely agree on this. I'd be fine underscoring them in the first place, and if they need to be accessed from the outside, add a property to make sure that they are read only. However, I think this should be done slowly and not in one go.

[2019-03-05 09:27] PGijsbers commented on #634
Can you elaborate? Do you mean restructuring attributes slowly as e.g. one attribute per PR (but potentially starting the next as soon as its merged into develop)? Or slowly as in take plan to have everything updated by next year?

[2019-03-05 09:31] mfeurer commented on #634
Having a plan when to change this always requires someone devoting time to it. If you have that time it would be great, otherwise, it might be hard to find someone to do this all at once.

Therefore, I would suggest to do this when such attributes are changed/touched/introduced. As a first step we should add this information to the contribution guide, though.

[2019-03-05 13:38] mfeurer commented on #304
Closed via #635.

[2019-03-05 13:38] #304 closed

[2019-03-06 11:54] mfeurer commented on #515
Added via #516.

[2019-03-06 11:54] #515 closed

[2019-03-06 11:55] mfeurer commented on #498
Added via #516.

[2019-03-06 11:55] #498 closed

[2019-03-06 11:55] mfeurer commented on #457
Added via #516.

[2019-03-06 11:55] #457 closed

[2019-03-06 12:48] PGijsbers commented on #219
Done via #516.

[2019-03-06 12:48] #219 closed

[2019-03-06 13:02] mfeurer commented on #301
Added in #516.

[2019-03-06 13:02] #301 closed

[2019-03-06 13:51] PGijsbers commented on #636
Fixed via #637.

[2019-03-06 13:51] #636 closed

[2019-03-06 16:56] PGijsbers opened #638 "Allow duplicate objects in Pipeline and ColumnTransformer"
Currently neither `Pipeline` nor `ColumnTransformer` may contain two different steps with the same type of transformer. I think this should be allowed.

Consider a scenario where I have a dataset with numeric and categorical values (e.g. feature 1 and 2, respectively), and wish to impute them with a different imputation strategy. I would use the following code (with openml on head of `develop`):
[

[2019-03-06 17:05] janvanrijn commented on #638
This is a problem of the OpenML Flow definition, as defined in the early days of OpenML (2012). There is currently no uniform way to specify to which specific instance of the flow a hyperparameter setting in a run belongs, and as such having multiple instantiations of the same subflow in a complex flow does not allow for reproducible research.

It has been on the agenda to improve this server side

[2019-03-06 18:30] PGijsbers commented on #638
Thanks, that clarifies a lot. Does it make sense to leave this issue open as it will go unresolved? Or should I close it as 'we' on the package side can not fix this until the definitions are updated?

[2019-03-07 08:14] mfeurer commented on #638
I think closing and referencing the corresponding issue on the OpenML issue tracker is the way to go here: https://github.com/openml/OpenML/issues/340

[2019-03-07 15:13] mfeurer opened #639 "Improve dataset documentation"
As suggested by @PGijsbers in in #548.

[2019-03-07 15:17] mfeurer commented on #408
Should be possible with the latest merge of #548. Please reopen if this is not the case.

[2019-03-07 15:17] #408 closed

[2019-03-07 15:21] mfeurer commented on #257
String feature support was added via #548 and should be explained in the development branch documentation.

[2019-03-07 15:21] #257 closed

[2019-03-07 18:43] PGijsbers commented on #570
I'm unassigning myself. I'll happily still do it (when I have time, e.g. in the hackathon), but I figured if someone else (new) wants to pick this up, that is fine too. The idea of me picking this up was so I could get myself familiar with the code again, but that point is moot as I had to get into things for last week's PRs.

[2019-03-09 15:33] janvanrijn opened #640 "docs not updated"
The github docs still say it's version 0.7.0, although 0.8.0 has been released.
https://openml.github.io/openml-python/stable/index.html

Anything we can do?

[2019-03-09 16:15] joaquinvanschoren commented on #640
For some reason there is a difference between stable and master. Not sure
why. Master is at 0.8.0.

On Sat, 9 Mar 2019 at 16:33, janvanrijn <notifications@github.com> wrote:

[2019-03-09 16:29] mfeurer commented on #640
Stable should no longer be used, only the branch name. Where did the link come from?

To make sure this doesn't happen any more in the future, we should also remove the stable docs (stable directory in the gh-pages branch).

[2019-03-11 08:14] mfeurer commented on #640
Okay, the page is gone.

[2019-03-11 08:14] #640 closed

[2019-03-15 21:53] bailuding opened #641 "Exception with KeyError: 'oml:tag' when fetching benchmarks"
#### Description

I followed the instruction on https://docs.openml.org/benchmark/#openml100 to fetch the details of benchmarks. but I encountered KeyError: 'oml:tag' for both open ml 100 and openml-cc18.

I use the latest openml package and Python 3.6

#### Steps/Code to Reproduce

Python 3.6.6 (v3.6.6:4cf1f54eb7, Jun 27 2018, 03:37:03) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright

[2019-03-17 00:05] PGijsbers commented on #473
Closing this issue due to the fact that it seems resolved and there is no ongoing discussion.

[2019-03-17 00:05] #473 closed

[2019-03-17 10:07] PGijsbers commented on #305
I was looking into tidying this up, but by reading the code it seems to way forward is not very clear.
As is, `get_flow(1)` still produces an internal server error (code 500), which in the end gets delegated down to [_parse_server_exception](https://github.com/openml/openml-python/blob/master/openml/_api_calls.py#L139). Here you can see (almost) complete information about the returned response obj

[2019-03-17 10:21] PGijsbers commented on #149
Is it possible this issue is outdated? For deactivated dataset 478, I can currently fetch and discover it thus (all work):
[code]
Deactivated datasets are by default *not* returned for `list_datasets`, but this is documented in the function's docstring.

[2019-03-17 10:34] PGijsbers commented on #149
Nevermind I noticed the unit test referenced in #382. Though I do think it is a separate issue (I think it is `check_datasets_active` that has the bug).

[2019-03-17 13:09] PGijsbers opened #643 "Current dev branch fails on appveyor"
See [here](https://ci.appveyor.com/project/PGijsbers/openml-python-gqsnv/builds/23134996#L120). Not sure why this happens, though there seems to be an update 2 days ago ([here](https://anaconda.org/anaconda/nbconvert/files?version=5.4.1&channel=main&type=conda)), and I imagine this is the cause.

[2019-03-18 07:03] mfeurer commented on #643
That's annoying. However, all tests in that test script are currently skipped. Therefore, we could remove the failing script. Would you like to do so?

[2019-03-18 07:08] mfeurer commented on #305
Thanks for looking into this @PGijsbers

Regarding the fact that there's a server error when retrieving flow number 1, only @janvanrijn can fix this. I guess the new issue regarding the invalid xml should also be dealt by @janvanrijn

Therefore, I took the liberty of assigning @janvanrijn to this issue ;)

[2019-03-18 07:51] PGijsbers commented on #643
Which tests are you referring to? I was under the impression that before the AppVeyor tests worked as intended?

[2019-03-18 10:07] PGijsbers commented on #578
Closing this issue as `create_dataset` is present in the 0.8 release.

[2019-03-18 10:07] #578 closed

[2019-03-18 10:19] PGijsbers commented on #610
Looks like a duplicate of #594. Feel free to re-open if you disagree.

[2019-03-18 10:19] #610 closed

[2019-03-18 10:24] PGijsbers commented on #330
(Leaving a note so I don't forget) - PR #644 introduces lazy loading for datasets, and tests should likely be updated to use lazy loading whenever possible.

[2019-03-18 13:42] PGijsbers commented on #643
Turns out setuptools v23 is no longer required, and as long as we update conda, we can use the latest version. It is fixed in #644.

[2019-03-18 19:38] PGijsbers commented on #364
Should we close this issue as this is possible because of #548, or after the release of 0.9 when dataframes are returned by default?

[2019-03-18 20:21] PGijsbers opened #646 "Datasets cached pre-#548 can no longer be used for `run_model_on_task`"
It looks like pre-#548 pickled data was in `np.array` format, where now the default is `pandas.dataframe`. When I now try to use `run_model_on_task` for which I still have a cached dataset with `np.array` as data instead of `pd.DataFrame`, [this line](https://github.com/openml/openml-python/blob/develop/openml/datasets/dataset.py#L520) is called with `(data, dataset_format=="array", [some list of

[2019-03-18 21:11] mfeurer commented on #643
Fixed via #644.

[2019-03-18 21:11] #643 closed

[2019-03-18 21:12] mfeurer commented on #612
Functionality added in #644.

[2019-03-18 21:12] #612 closed

[2019-03-18 21:12] mfeurer commented on #507
Functionality added in #644.

[2019-03-18 21:12] #507 closed

[2019-03-18 21:12] mfeurer commented on #446
Added in #644.

[2019-03-18 21:12] #446 closed

[2019-03-18 21:13] mfeurer commented on #346
Functionality for lazy downloading of datasets added in #644, `get_task` still needs a download flag.

[2019-03-18 21:23] joaquinvanschoren commented on #641
@janvanrijn @mfeurer
For the 'new' studies the tag that identifies the study is no longer returned (and the benchmarking studies are 'new' studies): https://www.openml.org/api/v1/study/99

@janvanrijn: is this by design? Then the openml-python package needs to be updated (and probably other bindings as well). If not then this is likely a bug in the API?

[2019-03-18 21:38] mfeurer commented on #364
Nope, this is for function like `list_dataset` which could naturally be represented as dataframes. Check [this example](https://openml.github.io/openml-python/master/examples/datasets_tutorial.html#sphx-glr-examples-datasets-tutorial-py) to see which lines could be saved by returning dataframes by default.

However, I should not decide this by myself. @janvanrijn @joaquinvanschoren @amueller @PGij

[2019-03-18 21:41] mfeurer commented on #646
Thanks for raising this issue. I would suggest that we break backwards compatibility here and simply delete and re-download the data in case the pickle file cannot be read. What do you think?

[2019-03-18 21:51] joaquinvanschoren commented on #364
I would like to have the option to get a dataframe directly. It makes some code a lot shorter and cleaner.

[2019-03-18 22:09] PGijsbers commented on #646
Not sure, on the one hand I am currently performing some runs with this hack and it seems pretty stable (so far on 90+ different tasks already done). It's not that the pickle file can't be read. It can be and seems to be done correctly. It is just after loading the data, `run_model_on_task` wants to have it in `np.ndarray` format and in the conversion assumes it is not yet in `np.ndarray` format w

[2019-03-18 22:10] mfeurer commented on #149
Fixed via #642.

[2019-03-18 22:10] #149 closed

[2019-03-18 22:21] PGijsbers commented on #364
I'm also in favor of (adding the option of) returning a dataframe. I am probably in favor of making it the new default behavior. With pandas becoming the main format of representing (data of the) datasets, it makes sense to also represent the different views with a dataframe.

[2019-03-19 00:51] bailuding commented on #641
How can I avoid the exception and get the benchmark in Python then?

[2019-03-19 07:29] janvanrijn commented on #364
Agreed.

[2019-03-19 07:34] janvanrijn commented on #641
Currently, studies do no longer return tags by default (only legacy studies do, as announced in email thread on benchmark suites).

This is indeed a problem in openmlpython not covered by the unit tests. We should update this.

[2019-03-19 08:59] joaquinvanschoren commented on #641
OK, so what is the most practical way to proceed?
Do we make a new minor release of the python API with a fix?
Or do we make the server return the tag until the APIs are updated and released?

[2019-03-19 09:23] joaquinvanschoren commented on #641
I checked and it this change doesn't affect the R API.
@janvanrijn: I assume that you checked the Java API?
I'll make a PR for the python API now. We still need to decide whether we do a minor release of update the REST API.

[2019-03-19 09:26] mfeurer commented on #641
Thanks for checking this @joaquinvanschoren

We can also make a full release of the python API once this is integrated as there have been plenty of changes already. I guess we only need to wait for a fix to #646 prior to doing so to maintain backwards compatibility.

[2019-03-19 09:28] mfeurer commented on #646
The reason why I proposed this rather aggressive strategy is that new features (such as string support in datasets) will only be available if the data is stored as a pandas array.

I also wouldn't like to reformat the data locally and therefore suggest to either download it again or re-read the arff file to create the pickle of a pandas dataframe.

Would you like to work on this @PGijsbers

[2019-03-19 09:30] joaquinvanschoren commented on #641
Well, it looks that @janvanrijn already fixed this in commit a2a4adeb68b5f772acd0a720c6a41247101ba6a0

So that means that the development version should work

[2019-03-19 09:37] joaquinvanschoren commented on #641
@bailuding To work around this, you can install the development version of the python API until we made a new release: https://openml.github.io/openml-python/master/contributing.html#installation

[2019-03-19 09:51] janvanrijn commented on #641
That PR should be in the latest release already (`0.8.0`) if I am not mistaken.

[2019-03-19 10:28] joaquinvanschoren commented on #641
Hmm, I don't see it here: https://github.com/openml/openml-python/pull/617
So I guess it's not in 0.8.0

I added a PR with the new unit test: https://github.com/openml/openml-python/pull/649

[2019-03-19 10:39] PGijsbers commented on #646
That makes sense. I can work on this.

[2019-03-19 11:45] mfeurer commented on #641
Fixed via #649. Please wait for the next release @bailuding for a fix on pypi.

[2019-03-19 11:45] #641 closed

[2019-03-19 15:24] mfeurer commented on #497
We actually fixed this in #548.

[2019-03-19 15:24] #497 closed

[2019-03-19 22:47] bailuding commented on #641
Hi @joaquinvanschoren

I installed the develop branch, and the 'oml:tag' exception is gone. However, now I got another exception when trying to get the X and y:

`'numpy.ndarray' object has no attribute 'columns'
Traceback (most recent call last):
  File ".\test.py", line 532, in download_openml_benchmark
    X, y = task.get_X_and_y() # get the data (not used in this example)
  File "E:\Python\env

[2019-03-20 00:08] joaquinvanschoren commented on #641
@bailuding
Looks like this is related to https://github.com/openml/openml-python/issues/646

In short, you can't use cached datasets from the 0.8.0 with the development version (at least not now). Workaround is to delete your cache and try again. Most likely you just need to run:
[code]

[2019-03-20 01:13] bailuding commented on #641
@joaquinvanschoren
Thanks for the response! I use Windows with virtualenv, and I did not find the cache directory. Where shall I look for it?

[2019-03-20 07:01] joaquinvanschoren commented on #641
It’s a hidden folder in your home directory called .openml/cache

On Wed, 20 Mar 2019 at 02:13, blding <notifications@github.com> wrote:

[2019-03-20 20:51] bailuding commented on #641
@joaquinvanschoren

Thanks! This works for me!

[2019-03-22 18:28] joaquinvanschoren opened #652 "build-time dependency on numpy"
#### Description
openml installation requires that numpy is already installed. This is tricky, for instance when you want to automatically set up an environment with a list of requirements.

Is there any way that 'pip install openml' will install numpy if it is not yet installed?

#### Steps/Code to Reproduce
[code]
in any environment without numpy
-->

#### Expected Results
it will automaticall i

[2019-03-25 12:25] mfeurer commented on #652
Someone contributed this to Auto-sklearn a while ago. You could try to port the code to the openml package.

[2019-03-26 19:41] joaquinvanschoren opened #653 "Quick summaries of openml objects"
#### Description
I often see users struggle with interpreting what an openml object (e.g. a dataset or a pipeline) really is and what it contains. For beginning users, it is also unclear what they can do to get more insight. Nobody likes to run `print(vars(flow)`, and going to the website to get more information is a bit troublesome (and not obvious).

What about we provide a summary() function fo

[2019-03-26 19:47] janvanrijn commented on #653
I agree that we need a string representation of objects, the absence of these seemed to be confusing for our aspiring new users on the tutorial last Saturday.

Isn't this what the `__str__` and `__repr__` functions do? It is for example implemented for `OpenMLRun` objects, but as far as I know not for other objects.

[2019-03-26 20:01] joaquinvanschoren commented on #653
If the output is pure text, then we can do it with standard __str__. I just wanted to think more broadly about what would be really useful and intuitive.

print(run) currently returns:
[run id: 2, task id: 72, flow id: 75, flow name: weka.AdaBoostM1_DecisionSt...]

What I would love to see is something like:
Task: ID: 72, breast-cancer (version 1)
Flow: ID: 75, weka.AdaBoostM1_DecisionStump() ...

[2019-03-27 12:18] mfeurer commented on #653
How would that be different than the output of `__repr__` or `__str__` (under the assumption that someone implements that)?

Potential duplicate of #75.

[2019-03-28 16:31] PGijsbers commented on #653
It definitely overlaps with #75. Though I think a `__repr__` implementation should be more succinct and this should be either `__str__` or its own method. To me, the differences could be e.g.:

__run__
`__repr__`: `{Run {id}|Local run} of {Flow {id}|local flow} on Task {id} (by uploader {username}).`
Example: `Run 2 of Flow 75 on Task 72 by Jan van Rijn.`
`__str__`: [as suggested by @joaquinvansch

[2019-03-30 22:36] PGijsbers commented on #652
It looks like this was done with the `setup_requires` parameter of setuptools, which seems to be added in version 39.0 (released 17 Mar 2018). Is it ok to require users to have setuptools >= 39.0 to be able to install this package?

[2019-04-01 13:05] ArlindKadra opened #656 "Duplicate information in task object"
https://github.com/openml/openml-python/blob/7839225aefc6882777478794a4c996b6534635b2/openml/tasks/task.py#L204-L205

Line 205 adds duplicate information to the task object. The estimation procedure parameters are already stored in line 204.
Do we create a property on estimation_parameters and issue a future deprecation warning, so we can deprecate at a later time?

[2019-04-01 13:53] ArlindKadra opened #657 "Estimation procedure in tasks"
https://github.com/openml/openml-python/blob/7839225aefc6882777478794a4c996b6534635b2/openml/tasks/task.py#L253-L254

Should we change the `estimation_procedure_type` and `estimation_parameters` to be optional?
When uploading a task, only an `estimation_procedure_id` is required, the other parameters are generated by the server.

[2019-04-01 14:16] mfeurer commented on #646
Fixed via #646.

[2019-04-01 14:16] #646 closed

[2019-04-01 14:18] mfeurer commented on #657
Fine by me. The user should actually never use the constructor anyway.

[2019-04-01 14:18] mfeurer commented on #656
Yes, please go ahead and do so.

[2019-04-01 14:22] mfeurer commented on #652
I would be fine with this. As I was surprised that this is a rather new feature I briefly googled and stumbled upon this PEP: https://www.python.org/dev/peps/pep-0518/ Maybe we should implement this instead of the solution based on setuptools.

[2019-04-01 17:18] PGijsbers commented on #652
I'll give that a go 👍

[2019-04-01 17:44] PGijsbers commented on #652
So I tried it and it seems to work well 😄 I can install the package locally with `pip install -e .` without prior numpy/scipy installation. Now apparently the `pyproject.toml` file allows [metadata](https://flit.readthedocs.io/en/latest/pyproject_toml.html#metadata-section). Do we move the metadata from `setup.py` to `pyproject.toml`? And shall I add some additional metadata e.g. github url, docum

[2019-04-03 09:20] mfeurer opened #658 "Make external version flag json parsable"
As suggested by @janvanrijn [here](https://github.com/openml/openml-python/pull/647#discussion_r270705750).

[2019-04-04 14:01] ArlindKadra opened #660 "Status attribute in dataset"
The docstring shows a `status` attribute in the dataset constructor, however the attribute itself is missing from the constructor.

https://github.com/openml/openml-python/blob/7ec429e4054b28630562401036ee829963b79f35/openml/datasets/dataset.py#L83

[2019-04-04 14:23] ArlindKadra commented on #660
@janvanrijn @mfeurer How do we want to deal with the above. On the xsd it is written that it is ignored on upload time
https://github.com/openml/OpenML/blob/develop/openml_OS/views/pages/api_new/v1/xsd/openml.data.upload.xsd

Do we remove it from the docs, or are there any plans on incorporating it into the dataset object.

[2019-04-04 16:40] mfeurer commented on #660
I think the `status` should be removed from documentation because it cannot be cached and needs to be retrieved from the server (as the status can be changed).

We do have a function which can be used to check if a given set of datasets is active (`check_datasets_active`).

[2019-04-08 09:14] mfeurer commented on #576
Not necessary any more because of #618.

[2019-04-08 09:14] #576 closed

[2019-04-08 11:37] mfeurer commented on #622
Added via #661.

[2019-04-08 11:37] #622 closed

[2019-04-08 14:18] sahithyaravi1493 commented on #619
@janvanrijn  if dropping one of them is better, I think we could drop `_tag_entity` from utils.py.
It seems to be used only in `test_tag_untag_dataset` which can be replaced by `push_tag` and `remove_tag.`
Do you agree with dropping  `_tag_entity` ?

[2019-04-08 14:45] janvanrijn commented on #619
@sahithyaravi1493 welcome on the team :)

I think that the various `push_tag` and `remove_tag` have similar structure and therefore code-duplications, which I think we should try to avoid. Therefore, my proposal would be to make the various  `push_tag` and `remove_tag` functions call to `utils. _tag_entity`, making all these functions a one liner with specific values set as parameters.

[2019-04-08 14:52] sahithyaravi1493 commented on #619
Thank you :)

Then I will proceed with the proposed approach (`tag_entity` as backend for the other two).

[2019-04-08 15:15] mfeurer commented on #652
Sounds like a good idea.

However, it would be great to see the whole thing in action first. Would you mind pushing this so we can have a look?

[2019-04-09 15:28] mfeurer commented on #346
Functionality for lazy downloading of tasks added in #659.

[2019-04-09 15:28] #346 closed

[2019-04-10 06:50] mfeurer commented on #621
Fixed via #666.

[2019-04-10 06:50] #621 closed

[2019-04-10 13:18] ArlindKadra opened #671 "Checking active datasets"
https://github.com/openml/openml-python/blob/3dc6dee62c1835e9b4f2bc9b6f9208d902263606/openml/datasets/functions.py#L295-L296

Maybe we should `list_datasets(status='active')` and if a `dataset_id` from the iterable of `dataset_ids` that we want to check is in the results, we can mark it as True, otherwise False.

[2019-04-10 13:53] PGijsbers commented on #671
The distinction here is that you no longer check whether the dataset id exists at all. I.e. a dataset which is inactive and one that does not exist altogether would be be returned as `False`. Unless I misunderstand your meaning.

[2019-04-10 14:31] ArlindKadra commented on #671
@PGijsbers you understood the idea right and the point you are making is valid.

Then, I would propose to further improve my initial idea and only `list_datasets(data_id=[dataset_ids])` for the `dataset_ids` that we have. This is supported on the live server now ( we should also update the documentation and function of `list_datasets`, because `data_id` is not shown as a valid filter).

In the end

[2019-04-10 21:05] PGijsbers commented on #671
I definitely think we should raise an error if the passed dataset id does not exist, consider the following use case of the function:
[code]

If there is a more efficient way to retrieve active status for the datasets from the server, I am all for it.
Even if that means afterwards specifically checking if there is a dataset missing.
Having the mentioned clause
[code]
is absolutely fine as in good-

[2019-04-11 13:33] mfeurer commented on #619
Fixed via #667.

[2019-04-11 13:33] #619 closed

[2019-04-15 07:11] PGijsbers commented on #248
It seems @mfeurer added `refit_time_ attribute` [here](https://github.com/scikit-learn/scikit-learn/pull/11310), so this can be added.

[2019-04-15 07:18] PGijsbers commented on #370
Closing this as it seems solved in the recent version and this issue has been stale.

[2019-04-15 07:18] #370 closed

[2019-04-15 11:37] PGijsbers commented on #402
The MWE does not work anymore but setting the `dataset.default_target_attribute` to `None` does reproduce the behavior. After chatting with @mfeurer we decided that the desired behavior would be to always return a `tuple`, with the first value to be the data except for a target, and the second to be the target or `None`.

[2019-04-15 13:42] PGijsbers commented on #406
Especially with the new general extension updates, I think `model` should stay preferred over `estimator`. Feel free to re-open if it needs to be discussed.

[2019-04-15 13:42] #406 closed

[2019-04-15 13:53] PGijsbers commented on #412
Looks like we can create a custom name and provide it to the generated flow for `scikit-learn` flows [here](https://github.com/openml/openml-python/blob/develop/openml/extensions/sklearn/extension.py#L418).

[2019-04-15 13:59] PGijsbers commented on #433
Use the default library [`webbrowser`](https://docs.python.org/3.5/library/webbrowser.html#module-webbrowser).

[2019-04-15 15:08] PGijsbers commented on #495
I am closing this because it seems that no further help is required.

[2019-04-15 15:08] #495 closed

[2019-04-15 15:10] PGijsbers commented on #509
Closing this as it seems no further assistance is required.

[2019-04-15 15:10] #509 closed

[2019-04-15 15:16] PGijsbers commented on #506
I think this is outdated. Right now it looks like the actual data is not stored twice, but the same dictionary is referenced twice ([e.g. here](https://github.com/openml/openml-python/blob/develop/openml/tasks/task.py#L105)).

If it is just regarding the string representations I think this is duplicate with #653 or #75.

Feel free to re-open if I misunderstood.

[2019-04-15 15:16] #506 closed

[2019-04-15 15:21] PGijsbers commented on #520
Oudated. Right now the [default behavior](https://github.com/openml/openml-python/blob/develop/openml/testing.py#L78) is to connect to the test server, unless explicitly specified.

[2019-04-15 15:21] #520 closed

[2019-04-15 15:21] PGijsbers commented on #555
![image](https://user-images.githubusercontent.com/15890747/56144570-50229200-5fab-11e9-9f7f-1dfc54725037.png)
Done!

[2019-04-15 15:21] #555 closed

[2019-04-15 15:22] janvanrijn commented on #579
This is an issue for the OpenML rest API.

[2019-04-15 15:27] PGijsbers commented on #528
The support was added in the above PR, code is [here](https://github.com/openml/openml-python/blob/develop/openml/datasets/functions.py#L639). Documentation needs to be added to the webpage.

[2019-04-15 15:32] PGijsbers commented on #549
Unless I misunderstood, [this PR](https://github.com/openml/openml-python/pull/667/) implemented this.

[2019-04-15 15:32] #549 closed

[2019-04-15 16:10] PGijsbers commented on #559
An actual run on the live server is e.g. [10154904](https://www.openml.org/r/10154904).

[2019-04-15 16:15] PGijsbers commented on #562
The MWE does not produce an error for me. I think this got fixed during #516.

[2019-04-15 16:15] #562 closed

[2019-04-15 16:23] PGijsbers commented on #574
After #670 is merged, a pip install should work regardless of environment.
That said, this need can easily be satisfied without duplication, see an example of how to do this is in the auto-sklearn repository. So the current plan is to include it (again) for now.

[2019-04-15 16:29] PGijsbers commented on #590
I removed @dmartinez05 due to inactivity on this issue. If you are still working on this, or would like to start working on this, please re-assign yourself :)

[2019-04-15 16:31] PGijsbers commented on #595
For developers wanting to work on this; this should be easy once #607 is merged, I think?

[2019-04-15 16:34] PGijsbers commented on #596
I agree it's important to take a look at which packages should be required, and which can be sorted in `extra_requires` or dropped altogether.
Because there are multiple open issues with this sentiment, I will close all of them except for this one.
Other issues which have a discussion on dependencies:
 - #530
 - #531

[2019-04-15 16:35] PGijsbers commented on #530
With many issues open on the same topic, I decided to close this one. All further discussion can be had in #596.

[2019-04-15 16:35] #530 closed

[2019-04-15 16:35] PGijsbers commented on #531
With many issues open on the same topic, I decided to close this one. All further discussion can be had in #596.

[2019-04-15 16:35] #531 closed

[2019-04-15 16:47] PGijsbers commented on #608
To clarify; is there a valid reason that a run on the server should not have a linked dataset?
If not, adding an else clause [here](https://github.com/openml/openml-python/blob/7c0a77d232a64da76be18bbce76e4bb8aeb4155b/openml/runs/functions.py#L804-L807) here which raises an error is proper and not hacky imo.

[2019-04-15 17:00] PGijsbers commented on #585
It looks like the current code base makes uses of enums (or the class hierarchy), rather than 'magic numbers'. Please re-open if I am mistaken.

[2019-04-15 17:00] #585 closed

[2019-04-15 17:31] PGijsbers opened #674 "Re-enable `test_get_runs_list_by_tag`"
[This test](https://github.com/openml/openml-python/blob/develop/tests/test_runs/test_run_functions.py#L1207) was disabled due to [this issue](https://github.com/openml/OpenML/issues/948). It turns out that the functionality _does_ work, just not with the `curves` tag. So the test needs to be re-enabled with a different run tag.

[2019-04-15 18:01] janvanrijn commented on #608
You mean task. No valid reason, bad design.

[2019-04-15 18:03] ArlindKadra commented on #608
I meant having an else statement and returning the run would be hacky, in case the `dataset_id` is not needed further in the function code. Adding an else and raising a more detailed error is proper.

[2019-04-15 18:08] ArlindKadra commented on #608
The task that the run is on has a `dataset_id`.
https://www.openml.org/api/v1/task/3513

[2019-04-15 18:38] ArlindKadra commented on #506
Referenced also in #656, addressed in #607

[2019-04-16 07:16] #652 closed

[2019-04-16 07:44] PGijsbers commented on #608
So it looks like we have some bad data to sort out server-side.

In terms of this package, we should raise an error we notice this happening.

[2019-04-16 14:34] PGijsbers commented on #596
Test-only dependencies have now been marked as such, when installing `openml-python`, by default `oslo.concurrency` is no longer a dependency. See #675.

[2019-04-16 14:34] #596 closed

[2019-04-16 15:38] PGijsbers commented on #402
I am not sure I still like this resolution, because of it's asymmetry with `return_categorical_indicator` and `return_attribute_names` parameters. If they are left unspecified, no additional values are returned. I would prefer that a tuple is always returned if `target` is set (even if it is `None`), but not when it is not passed. Perhaps something like [this](https://github.com/openml/openml-pyth

[2019-04-16 16:03] PGijsbers commented on #402
After discussion with @janvanrijn and @mfeurer we decided that the function should *always* return all four values.

[2019-04-17 08:57] PGijsbers commented on #407
Closing this issue as:
 - installation guide now specifies to install through pip (even from code) with `pip install -e .` which should install dependencies correctly regardless of platform.
 - the main culprit `oslo.concurrency` is no longer a dependency (for non-developers)
 - CI on Windows has been running fine for a year now.

[2019-04-17 08:57] #407 closed

[2019-04-17 10:21] PGijsbers opened #679 "Navbar hides header on Firefox"
When loading a documentation page on a specific header in Firefox, e.g. [usage#basic-usage](https://openml.github.io/openml-python/master/usage.html#basic-usage), when coming from a different page, the navbar hides the section header.

----
[usage#basic-usage](https://openml.github.io/openml-python/master/usage.html#basic-usage) shows as:
![image](https://user-images.githubusercontent.com/15890747

[2019-04-17 12:41] mfeurer commented on #305
Related to https://github.com/openml/OpenML/issues/362

[2019-04-17 13:15] PGijsbers commented on #305
[code]

External versions _are_ required, right?

[2019-04-17 13:24] mfeurer commented on #305
Apparently they're not: https://github.com/openml/OpenML/blob/master/openml_OS/views/pages/api_new/v1/xsd/openml.implementation.upload.xsd

[2019-04-17 20:37] MichaelMMeskhi commented on #611
I might start helping out on the tutorials side, definitely will take a look at this. I have heard personally from a lot of people that they don't know where to start. Making OpenML look "complex".

[2019-04-17 20:47] mfeurer commented on #611
That would be great. I'd be happy to answer any questions on this and help where possible.

CC @PGijsbers who is currently redesigning the examples to make sure that there's no duplicate work (although I'm pretty sure that those two things are orthogonal to each other).

[2019-04-17 20:48] MichaelMMeskhi commented on #611
@mfeurer Sounds good. I will get on this, this weekend. Will update you and @PGijsbers

[2019-04-18 09:53] PGijsbers commented on #611
Much appreciated! I will work on improving and expanding the examples this week. You should be able to go through them and see what is missing or unclear, and continue from there :)

[2019-04-18 13:08] mfeurer commented on #551
Thanks to @PGijsbers we'll have more contrast in a few minutes (once travis finishes the next few builds). Please re-open if it is still hard to read.

[2019-04-18 13:08] #551 closed

[2019-04-18 15:27] PGijsbers commented on #551
Make sure to check out the `develop` pages: https://openml.github.io/openml-python/develop/

[2019-04-18 16:22] glemaitre commented on #551
Thanks guys for taking about that. This really readable now.

[2019-04-18 18:06] MichaelMMeskhi commented on #611
@PGijsbers should we somehow discuss the whole structure of tutorials/examples and contribution rules?

[2019-04-19 08:56] PGijsbers commented on #611
I am not sure what you had in mind?
I think we should aim to have:
 - examples involving basic functionality of each concept: dataset, task, run, flow, suite, study.
 - more interesting examples with more powerful use cases: e.g. automatically running a benchmark, re instantiating models.

For each example;
 - if they upload anything, use the test server and make a warning note that we are using t

[2019-04-19 09:17] mfeurer commented on #611
There are basically two ways the examples are listed:

1. In the user guide: https://openml.github.io/openml-python/master/usage.html (although not all are there yet)
2. In the example gallery: https://openml.github.io/openml-python/master/examples/index.html

The reasoning is to reduce the effort for writing and keeping docs up-to-date until the package is developed further or there are more cont

[2019-04-19 13:45] mfeurer opened #685 "List contributors for the different releases"
Probably like for Auto-sklearn or scikit-learn. I have a command in the Auto-sklearn repo which can retrieve all contributors between two commits.

[2019-04-19 19:22] MichaelMMeskhi commented on #611
@mfeurer Okay. I looked over the two links you provided. So you want to update the information there? I can start off with analyzing README.md files and fixing/adding new information. Then head over to the docs and work on introductory pages and so on... What do you think?

[2019-04-19 20:22] mfeurer commented on #59
Added via #683.

[2019-04-19 20:22] #59 closed

[2019-04-19 22:25] mfeurer commented on #611
That would be great. It's probably best if you branch off from `update_examples` which is PR #684.

That's unfortunate. Any suggestions on how we can fix this besides updating the python docs are appreciated.

[2019-04-20 02:06] MichaelMMeskhi commented on #611
Sounds good. Will start that on Saturday.

For example, look at Google AutoML front page. They have illustrations and simple descriptions of what they offer. It gives non-experts or new comers better info of whats going on. I suppose something like this can help.

[2019-04-20 18:22] mfeurer commented on #611
Cool, I'm looking forward to see the outcomes.

I'm not sure if it is easy enough to see, but if you scroll down on the front page, there's quite some introductory information. If you have any suggestions on that, I'm sure @joaquinvanschoren will be happy to hear.

[2019-04-20 19:36] MichaelMMeskhi commented on #611
@mfeurer @PGijsbers One more thing that came to my mind. I saw you updated the examples. These are all `.py` files. Would you agree that if instead we uploaded `.ipynb` files so new users could have a better look at how the code works with outputs also shown?

[2019-04-21 10:16] mfeurer commented on #611
We deliberately moved from notebooks to python files recently because they are easier to render in the documentation and also easier to unit test. sphinx-gallery converts those python files both to the example and notebooks, and can actually download the notebooks from the bottom of the respective examples, for example the [introductory example](https://openml.github.io/openml-python/master/_downl

[2019-04-22 07:52] joaquinvanschoren commented on #611
I added a link to the tutorial on github.com/openml/openml-tutorial where there is a complete notebook with the main API functions. It also includes a button to launch it on MyBinder and Colab.

[2019-04-22 16:24] MichaelMMeskhi commented on #611
Yeah I've seen that website. I see there are intro and documentation resources but are more or less scattered around. Anyway, I will slowly do my part and try to contribute in fixing and improving all of this.

[2019-04-26 10:46] ArlindKadra commented on #657
Addressed in #607

[2019-04-26 10:46] #657 closed

[2019-04-26 10:47] ArlindKadra commented on #656
Addressed in #607

[2019-04-26 10:47] #656 closed

[2019-04-27 09:02] PGijsbers commented on #402
I'm actually going to come back to this. By version 0.9 the default is going to be Pandas Dataframes, which inherently should convey both which attributes are categorical and what their names are. How long do we want to support array output for? Should we consider two functions, e.g. one that always returns it as array (with the `tuple`) and the other as dataframe? And only use the array version i

[2019-04-29 12:36] mfeurer commented on #402
Is there a reason to drop this in the near future? I guess it makes it easier for beginners and for people working with software that doesn't support pandas out of the box (such as Auto-sklearn ;))

What would be the upside of this?

How far is pandas support in scikit-learn? Does it reliably work for every model and preprocessor?

[2019-04-29 14:27] PGijsbers commented on #402
No idea, honestly.

Mostly not having two functions in one. But after having a closer look I think we can do away with a lot of the array conversions / `iloc`-checks that happen in the function (since we enforce the data to be in pandas anyway). Right now we need 80+ lines of code to just load data. I might have a go at refactoring the internals a little after #677 is merged.

[2019-04-29 15:46] #402 closed

[2019-04-29 15:47] mfeurer commented on #294
We recently merged task upload via #607. Documentation still missing.

[2019-04-29 15:47] #294 closed

[2019-04-29 19:58] nok commented on #679
For me it works like expected in Chrome and FF.

![Screenshot 2019-04-29 at 21 56 44](https://user-images.githubusercontent.com/670641/56923023-d241a900-6ac9-11e9-8f02-1afad6ee90b8.png)

[2019-04-29 20:13] nok commented on #653
A method like `summary` remember me to Tensorflow where you see a constructed architecture of a neural network which is **immutable**.

For me the methods `__str__` and `__repr__` print the current internal state of an instance which is **mutable**. Further I found a discussion on stackoverflow: https://stackoverflow.com/a/2626364/1293700

In general I like the idea 👍 .

[2019-04-30 08:02] mfeurer commented on #679
I just tried again and it works in Chromium, but not in FF. FF only works if I narrow the window a bit. @nok shouldn't the heading at the top be 'basic usage'?

[2019-04-30 08:06] mfeurer commented on #653
I just checked, but Tensorflow's summary is a module, and not a method of a network/graph, right?

BTW: this issue is up for grabs ;)

[2019-04-30 13:18] #364 closed

[2019-04-30 14:41] nok commented on #653
My bad, it was Keras 🤦‍♂ https://stackoverflow.com/a/38484187/1293700

[2019-04-30 16:07] nok commented on #679
It depends how it's implemented. Either you use the basic anchor tag `#id` or `scrollTo()` in JavaScript. In general you use the static variant as fallback. However it's not a critical behaviour.

[2019-05-01 16:32] joaquinvanschoren opened #687 "Listing of evaluation measures is missing."
#### Description
You can't download the list of evaluation measures run by OpenML via the Python API.
There is an API call for that, though:
https://www.openml.org/api_docs#!/estimationmeasure/get_estimationmeasure_list

#### Steps/Code to Reproduce
No function exists for listing the evaluation measures

#### Expected Results
A function exists that lists the evaluation measures

#### Actual Result

[2019-05-02 18:49] PGijsbers commented on #653
Can you specify in particular how this would deviate from the examples above? From your stackoverflow reference description of `__str__`:

I feel the proposal of essentially a text representation of the website information achieves these goals?
Exactly recreating a task based on it's `__repr__` is going to be complicated as you'll need to specify splits, which I think is a bad idea. From the infor

[2019-05-02 18:52] PGijsbers commented on #679
From your screenshot it seems to have skipped even more of the page?
Following the link in the original post should leave you at the top of the page exactly, having the 'Basic Usage' title fully visible (note that after opening the site, if I switch between headers in the sidebar, 'Basic Usage' will be displayed correctly, it is only on following the link the first time).

[2019-05-10 09:39] sahithyaravi1493 opened #690 "Add sorting to list_evaluations"
#### Description
`list_evaluations` does not have a sorting option. This means we need to list all evaluations of a particular task or flow and then sort, which takes too long.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Returns the top 100 evaluations in terms of predictive_accuracy with given flow_id

#### Actual Results
Feature not present

#### Versions

[2019-05-10 10:01] joaquinvanschoren commented on #690
Two additional points:
* This requires an extension of the REST API, since there is no sort option here yet:
https://www.openml.org/api_docs#!/evaluation/get_evaluation_list_filters
* Sort should be optional since we shouldn't sort if we don't have to.
What about the following signature:
[code]
with `sort_by` having options 'none' (default), 'function', 'run_id' (depending on what the API supports

[2019-05-10 15:57] mfeurer commented on #690
I think this is not a python issue as python passes the allowed modifiers to the API call. Therefore, I'm moving this to the main issue tracker.

[2019-05-13 09:17] joaquinvanschoren commented on #412
I was thinking more about a way to shorten the existing names. If there is a custom name, great, but if we have these long automatic names we also need a way to shorten if for proper display.

[2019-05-21 15:32] joaquinvanschoren opened #694 "Get list of evaluation measures in the python API"

[2019-05-21 15:33] joaquinvanschoren opened #695 "Get list of data qualities in python API"

[2019-05-21 15:35] #694 closed

[2019-05-22 12:39] glemaitre opened #696 "Python 2 support"
scikit-learn 0.21 has been released. The support for Python 2 has been dropped. Therefore, some of the code in openml-python using some fixes need to be backported or the support for python 2 needs to be dropped.

Just open this issue to know the feeling about this subject.

[2019-05-22 13:16] mfeurer commented on #696
Thanks for bringing this up. We actually dropped Python2 support with #623, but did not yet create a new release. Therefore, this is only visible in the development branch. Also, we might have missed some places. Do you have any concrete examples or suggestions?

[2019-05-22 13:28] glemaitre commented on #696
OK it explains why. I was using the last version from PyPi. So then it should be fine. I will try with the development branch. Thanks Matthias.

[2019-05-22 13:28] #696 closed

[2019-05-27 00:14] janvanrijn opened #697 "liac-arff parser to work with date field"
would be pretty neat, as the arff parser currently crashes on the date field.

[2019-05-27 14:52] mfeurer commented on #697
There's a stalled PR over at the liac-arff repo: https://github.com/renatopp/liac-arff/pull/67

Closing this as it isn't directly an issue of the OpenML-Python API, but the arff parser.

[2019-05-27 14:52] #697 closed

[2019-05-29 02:00] hp2500 opened #699 "Issues getting evaluations"
Hi there ,

I am trying to get evaluations through the python API. I am trying to work with the examples provided on the website, but they don't work at all.

For example, if I try to do this...
![image](https://user-images.githubusercontent.com/27285925/58523626-3b810e80-8193-11e9-9547-edd931d87976.png)

I get the following error...
![image](https://user-images.githubusercontent.com/27285925/5852

[2019-05-29 13:38] mfeurer commented on #699
Could you please provide us with details about:

1. how you installed the library and which version you're using
2. which documentation you're using (i.e. the url)

From the issue it seems like you're using the documentation of the development branch together with the code from the latest release. However, the examples from the development branch will only work with code from the development branc

[2019-05-30 22:10] db7894 opened #702 "Issues with dataset_format and attributes_arff_from_df"
#### Description
Hi there, I'm attempting to work with some datasets from OpenML using calls from the API [here](https://docs.openml.org/Python-API/).
Somehow, when I attempt to call a few functions with datasets, I get errors that suggest that there isn't any support although the API and examples on the site say that I should be able to make those calls. Examples are below

#### Steps/Code to Rep

[2019-05-31 22:45] hp2500 commented on #699
Hi Mathias,

thanks for your reply.

1) I am using version 0.8.0 installed via pip
[image: image.png]

2) the example code I am using can be found here:
https://docs.openml.org/Python-examples/

Additionally I have been looking at the docs under:
https://openml.github.io/openml-python/master/generated/openml.evaluations.list_evaluations.html#openml.evaluations.list_evaluations

But I noticed that

[2019-06-03 08:23] mfeurer commented on #699
Thanks a lot for the info. Indeed, docs.openml.org hosts the documentation for the development branch. Please use the docs at https://openml.github.io/openml-python/master for the version you obtained with `pip install openml`. You can install the development version (for which the docs are correct) with `pip install git+https://github.com/openml/openml-python@develop.

[2019-06-03 08:23] #699 closed

[2019-06-03 18:20] pfontana3w2 opened #703 "Flows and Runs Documentation requires develop branch of repo to work"
#### Description
The documentation on flows and runs https://openml.github.io/openml-python/develop/examples/flows_and_runs_tutorial.html requires the develop branch of the code and will not work with the master brach available through a pip install.

When running it with the version available from pip openml, it crashes with an error.

The first code block is taking straight from python/develop/e

[2019-06-03 23:12] pfontana3w2 opened #704 "Introductory examples with running pipelines require "from" import syntax to work"
#### Description
When I run the introductory code in the documentation, https://openml.github.io/openml-python/develop/ it works fine but if I use

[code]

I get instead:

[code]

#### Steps/Code to Reproduce
[code]
#### Expected Results

No error is thrown.

#### Actual Results

[code]

#### Versions

Darwin-18.6.0-x86_64-i386-64bit
Python 3.6.8 (default, Mar 20 2019, 16:36:17)
[GCC 4.2.1 Compati

[2019-06-03 23:41] pfontana3w2 commented on #704
I now found the error on my side. I reversed the model and the tasks in the `openl.runs.run_model_on_task`. The code is fine. Closing issue.

[2019-06-03 23:41] #704 closed

[2019-06-04 06:45] mfeurer commented on #703
Please use the documentation at https://openml.github.io/openml-python/master/ for the master branch, you're currently using https://openml.github.io/openml-python/develop/.

[2019-06-04 06:45] #703 closed

[2019-06-04 15:19] PGijsbers commented on #412
Here's a gist with an implementation: [link](https://gist.github.com/PGijsbers/4940fc6fd7dacfe777f985ab89b22789).
Running it gives the output:
[code]

As this is highly package dependent I would suggest to make this part of the `extension` interface.
I resorted to string parsing as opposed to re-generating a short name from the model because the latter might/will not work if there are version diff

[2019-06-04 16:21] pfontana3w2 commented on #703
Thank you for taking the time to respond.

[2019-06-05 17:47] hp2500 opened #707 "Issues getting benchmarking suites"
Hi there,

I am trying to access the benchmarking suites through the python API. I am sticking with the instructions form this page [](https://docs.openml.org/benchmark/) and I am using the development version.

![image](https://user-images.githubusercontent.com/27285925/58977602-10e91400-8798-11e9-9b7f-c2dc2b025c4c.png)

However, I am getting unexpected errors.
![image](https://user-images.github

[2019-06-05 17:52] hp2500 commented on #707
@amueller

[2019-06-05 18:24] janvanrijn commented on #707
Can you please verify whether
* you connect to the main server (I would presume so if you did not do any effort yourself to change this in the code or config files)
* the develop branch is up to date with the latest commits (there have been relevant updates in March)

I can not reproduce this error.

[2019-06-07 19:59] PGijsbers commented on #460
This was done.

[2019-06-07 19:59] #460 closed

[2019-06-11 13:01] Neeratyoy commented on #695
Hello,
Is the goal to get a `list_data_qualities(dataset_id=x)` function that returns an array/dict/dataframe with the qualities for that dataset?

[2019-06-11 14:35] Neeratyoy commented on #687
Hello,
A GET request to [estimationmeasure/list](https://www.openml.org/api/v1/xml/estimationmeasure/list) returns _Function not valid_.
I believe we instead should be getting something similar to [estimationprocedure/list](https://www.openml.org/api/v1/xml/estimationprocedure/list).
(Both cases hold for both the servers)

Does it mean that the API call mentioned [here](https://www.openml.org/api_

[2019-06-11 14:46] janvanrijn commented on #687
Seems like a docu mistake. Should be
https://www.openml.org/api/v1/evaluationmeasure/list

@joaquinvanschoren

[2019-06-11 14:57] janvanrijn commented on #695
Seems like you need this URL:
https://www.openml.org/api/v1/data/qualities/list

docu seems missing. cc @joaquinvanschoren

[2019-06-12 00:10] pfontana3w2 commented on #707
I am getting the same error. I just pulled and installed the develop branch and checked that I have version 0.9.0.

[code]

I have also tried accessing it by study number and got the same error

[code]

Version info:
[code]
Darwin-18.6.0-x86_64-i386-64bit
Python 3.6.8 (default, Mar 20 2019, 16:36:17)
[GCC 4.2.1 Compatible Clang 6.0.0 (tags/RELEASE_600/final)]
NumPy 1.16.2
SciPy 1.2.1
Scikit-Learn

[2019-06-12 21:43] PGijsbers commented on #653
Added in #701

[2019-06-12 21:43] #653 closed

[2019-06-12 23:36] mfeurer commented on #75
Added via #701.

[2019-06-13 03:25] PGijsbers commented on #639
Closed by #708

[2019-06-13 03:25] #639 closed

[2019-06-13 22:06] mfeurer commented on #412
Hey, I would go one step further and suggest that the different extensions themselves have to create the short name themselves and not do this via the extension interface.

Could you please explain the issue with version differences? Since a flow is uniquely defined by the full name and the dependencies, it doesn't matter if two flows have the same short name, right?

Finally, I would create the s

[2019-06-13 23:24] PGijsbers commented on #412
In the case where you would generate a shortname based on the python object, you need to be able to instantiate the python object. If e.g. a user has scikit-learn 0.20 installed, but the flow uses a scikit-learn 0.18 component, it can not locally instantiate the model. However, as the full name *is* loaded, we can use this and some string parsing to obtain a short name.

There was the explicit req

[2019-06-14 08:39] ajoeajoe opened #712 "No extension registered which can handle model"
but when I run use the following codes，errors happened：
[code]

[2019-06-14 08:40] ajoeajoe commented on #712
ValueError Traceback (most recent call last)
in ()
12 X, y = task.get_X_and_y() # get the data (not used in this example)
13 config.apikey = '0e5ae5d3e3522ac3ee387344173e3a97' # set the OpenML Api Key
---> 14 run = runs.run_model_on_task(task,clf) # run classifier on splits (requires API key)
15 score = run.get_metric_fn(sklearn.metrics.accuracy_score) # print accuracy score
16 print('Data set: %s

[2019-06-15 18:30] PGijsbers commented on #412
We will add this function to the sklearn extension module. For new flows the shortname will be generated and added to the flow. For old flows we will not retroactively add the short names but they can nonetheless by generated by this function (such that it can be used to generate the short names for e.g. the website).

[2019-06-15 22:04] mfeurer commented on #712
I assume this is the same issue as reported in https://github.com/openml/OpenML/issues/981. Please reopen if this is not the case.

[2019-06-15 22:04] #712 closed

[2019-06-16 15:24] ajoeajoe commented on #712
it works and thanks

[2019-06-19 15:01] amueller commented on #412
I think we should use a separate field like a custom name for a short display.
Or think about the semantics of what the name is?

The display on openml.org certainly needs to be improved. But I'm hesitant to entangle display issues with the backend.
Are the names required to be unique? Can you remind me how name and flow correspond? I know we have several flows for the same name when the version o

[2019-06-19 15:05] amueller commented on #412
@joaquinvanschoren you could dramatically shorten the names on the frontend by just removing the module names.

[2019-06-19 15:16] amueller opened #716 "Attributes are not documented?!"
It looks like none of the classes document their attributes. They really should.

[2019-06-20 03:57] hp2500 opened #718 "Issues instantiating/running models from flows"
Hi there,

I am trying to use a flow to instantiate a sklearn model that can then be run on a task. From the documentation it seems like this should be possible in several different ways, but haven't had any success so far trying to get a model from a flow with flow_to_model or from a setup with initialize_model.
![image](https://user-images.githubusercontent.com/27285925/59817431-cf0ab280-92ed-11

[2019-06-20 09:47] PGijsbers commented on #412
The name together with `external_version` must be unique (see also [flow xsd](https://github.com/openml/OpenML/blob/develop/openml_OS/views/pages/api_new/v1/xsd/openml.implementation.upload.xsd)).
I don't think it is enforced that two flows with the same name (but different `external_version` are related in any way.

This isn't the case (anymore?). Relevant information such as class and parameter

[2019-06-20 09:50] PGijsbers commented on #695
Added in #711.

[2019-06-20 09:50] #695 closed

[2019-06-20 12:31] PGijsbers commented on #687
Added in #713.

[2019-06-20 12:31] #687 closed

[2019-06-24 16:24] Neeratyoy commented on #447
Hi,
On taking a preliminary look at `openml/testing.py`, the `setUp()` and `tearDown()` does a neat job of creating a temp directory and cleaning it up. It works.
However, all the excess files which show up untracked for git, are in the directory `test/files/`.
In that case, can I use `os.walk()` before and after the testing, to look for new files that were not there in this directory and get them

[2019-06-25 12:19] #589 closed

[2019-06-25 12:59] joaquinvanschoren opened #737 "New evaluation listing call that includes hyperparameters"
Currently, if one wants to download all hyperparameters and evaluations of a specific flow, they need to first download the list of evaluations (fast), and then download runs one by one to get the hyperparameters (slow).

This is a problem for the current Frontend, plus it also complicates downloading meta-data from the server (last time I tried this it worked but took a very long time).

Since th

[2019-06-25 13:21] PGijsbers commented on #718
Sorry for the delay.
To reproduce the issue, please let us know which flow and/or setup you are working with.

That said, running a flow on a task is easiest done in the following way (e.g. `task 3` and `flow 7684`):

[code]
Note the one line in the middle, where the model is reinstantiated after downloading the flow. I think it's fair to say that we should check for this automatically in the `run

[2019-06-25 15:53] hp2500 commented on #718
Hi, thanks a lot for your reply! I have tried your code, but it seems to require an older sklearn version.

![image](https://user-images.githubusercontent.com/27285925/60113096-0e4a6080-973f-11e9-803f-cf5a4c10e4b1.png)

I am using sklearn version 0.21.2, because I am interested in some functions that were added only recently. Do you think there is a workaround?

P.S. I originally used flow #6970,

[2019-06-25 15:56] hp2500 commented on #718
But maybe, the required sklearn version depends on which version was used in the original flow... When I try a different flow, the error mentions a different sklearn version.

![image](https://user-images.githubusercontent.com/27285925/60113614-2bcbfa00-9740-11e9-8975-b9afc814170d.png)

@amueller

[2019-06-25 19:53] PGijsbers commented on #718
Yes, that is the case. The flows require a specific `scikit-learn` version to ensure reproducibility. I don't believe there currently is a way to automatically create a new flow for your scikit-learn version based on a flow-id and your current environment (or find one on the server that matches). I can understand this would be a desirable feature, which for pure-scikit-learn based flows should be

[2019-06-26 15:20] hp2500 opened #720 "Issues instantiating models from runs"
Hi there, I am running into problems when I am trying to initialize models from older runs. Here is an example with a run I created yesterday.
![image](https://user-images.githubusercontent.com/27285925/60192140-68145e80-9803-11e9-9980-43bf0376017a.png)
As you see it works perfectly fine.

However, when I am trying to initialize an older run (from 2016), I am getting this error:
![image](https://u

[2019-06-26 15:31] hp2500 commented on #720
Update: I have played around with different runs and I am now able to produce the same error that I was getting when trying to reinstantiate a model from flows (#718).

i.e. ValueError: Trying to deserialize a model with dependency sklearn==0.18.1 not satisfied.
So it seems to be the same issue.

@amueller

[2019-06-27 15:43] Neeratyoy commented on #261
On a successful publish, a new *entity_type/**entity_id*** is generated. On using `openml.utils._delete_entity(entity_type, entity_id)`, the *entity_type/**entity_id*** is no longer available on the test server.
On re-publishing the same entity again, a new ID is generated, which is the previous ID+1. Is that an acceptable cleanup? Or is the expectation to not increase the file counter, i.e., on d

[2019-06-27 19:03] amueller commented on #707
@hp2500 Said he solved the issue. Maybe he can comment here to help @pfontana3w2 and/or we can close.

[2019-06-27 19:10] amueller commented on #718
@PGijsbers Thanks for all the replies! It would be great to do the instantiation automatically for ``run_flow_on_task``. I couldn't find that in the documentation and the error message is not very helpful. Maybe either you or @hp2500 can just add this to the error message for now.

I don't think instantiating Study-14 pipelines should be a high priority (there is no setup.py). We were actually mor

[2019-06-27 19:53] amueller commented on #720
[code]

[2019-06-28 09:35] PGijsbers commented on #718
I'll make the change to automatically reinstantiate the model when `run_flow_on_task` is called with a flow that has no instantiated model and all dependencies are satisfied (with the right version). I think we should involve @mfeurer on if/how/when we want to allow disabling version checks and how it should behave.

[2019-06-28 16:50] hp2500 commented on #707
@pfontana3w2 @amueller My solution is basically a workaround. I used the tag argument to get an overview of all tasks associated CC18:

[code]
I can also iterate over the task ids and get the tasks individually whenever I want to run something on each one of them. I hope this helps.

[2019-06-28 18:49] pfontana3w2 commented on #707
@hp2500  Thank you for sharing the workaround. I still can't access the study but this lets me quickly access the task id list, which is the thing I needed most from the study API.

[2019-06-30 15:55] #707 closed

[2019-07-02 19:05] hp2500 opened #724 "AttributeError: 'NoneType' object has no attribute 'seed_model'"
Hi there,

I have been trying to run experiments with a fairly new sklearn-extra classifier ([https://github.com/Alex7Li/scikit-learn-extra/tree/master/sklearn_extra](url)). The classifier runs fine on a local dataset. However, when I am trying to run it on an openml task, I am getting an error.

Here is a minimal example:
[code]

-------------------------------------------------------------------

[2019-07-02 21:10] amueller commented on #724
I haven't looked at this since the extensions got refactored.

It looks like you need to tell openml that the sklearn extension can be used to handle this estimator.
I'm a bit surprised that that's not the fallback / default.

[2019-07-03 13:32] Neeratyoy commented on #608
Shall this be closed?

[2019-07-05 07:25] azrdev opened #726 "website: tutorials warn about deprecations in sklearn 0.20"
#### Description
The tutorials (at least [Flows and Runs](https://openml.github.io/openml-python/develop/examples/flows_and_runs_tutorial.html) and [OpenML Run](https://openml.github.io/openml-python/develop/examples/sklearn/openml_run_example.html)) have their example output cluttered with warnings from sklearn, about deprecations in 0.20 (which will fail to work at all in the upcoming 0.22).

[2019-07-05 11:26] azrdev opened #727 "refuses to `pip install openml`"
#### Description
Installing openml [like the guide says](https://openml.github.io/openml-python/master/#how-to-get-openml-for-python)  using `pip install openml` fails deliberatly, and says `pip install -e .` (i.e. on a local checkout) should be used:

Apparently this was added to setup.py to prevent setuptools building numpy: https://github.com/openml/openml-python/blob/develop/setup.py#L9..L14
B

[2019-07-05 15:47] hp2500 commented on #724
I think I found a workaround. Putting using the estimator in a pipeline seems to solve the issue.
@amueller

[2019-07-05 20:00] PGijsbers commented on #608
Yes, I forgot to do that when merging, my bad.

[2019-07-05 20:00] #608 closed

[2019-07-08 12:25] mfeurer commented on #718
We could create different levels of checks for this:

* that the library is available
* that the major version is equal
* that the minor version is equal
* that the exact version is equal

Would this together with #722 solve this issue?

[2019-07-08 12:34] mfeurer commented on #412
There is, it is called `custom_name` (https://github.com/openml/OpenML/blob/master/openml_OS/views/pages/api_new/v1/xsd/openml.implementation.upload.xsd).

The name is used to provide a unique string representation of the flow. I think we have used the name for deserialization, but changed that at some point when `class_name` and `custom_name` were added to OpenML.

[2019-07-08 13:19] mfeurer commented on #724
This appears to have the same root cause as #718 and #720 and will be fixed via #722. Please reopen if this is not the case.

[2019-07-08 13:20] mfeurer commented on #720
Closing this as it appears to have the same root cause as #718 and will therefore be fixed by #722, too.

[2019-07-08 13:20] #720 closed

[2019-07-08 13:21] mfeurer commented on #261
Yes.

[2019-07-08 13:26] mfeurer commented on #726
It seems like we need to update the examples to use the latest additions to scikit-learn. Anyone interested in working on this?

[2019-07-09 10:33] mfeurer commented on #727
Thanks for reporting this. We'll have a look into this.

[2019-07-09 12:54] joaquinvanschoren commented on #594
This was fixed during the last OpenML hackathon. The datasets and runs were processed anew.

[2019-07-09 12:54] #594 closed

[2019-07-09 13:27] mfeurer commented on #718
Fixed via #724. Please reopen if that's not the case.

[2019-07-09 14:56] mfeurer commented on #447
@Neeratyoy I'm afraid that the current implementation does not work, i.e. it changes the working directory before running the tests, executing the 2nd `git status` outside of the git repository. Could you please create a new PR fixing this?

[2019-07-09 15:03] Neeratyoy commented on #447
Sure, I'll take a look at this.

[2019-07-09 15:38] amueller commented on #412
Ok but if they have to be unique we can't shorten them, right?
Still not sure why not fix this in the frontend.

[2019-07-09 15:42] mfeurer commented on #412
Yes. We cannot shorten the main field (name), but we can shorten it in the field `custom_name`.

[2019-07-09 16:15] joaquinvanschoren opened #730 "Guidelines for publishing OpenML-python extensions"
#### Description
OpenML has an extension API, and you can use it to connect other libraries to OpenML. It is however unclear how one should later up 'publish' this extension so that other people can use it.

#### Steps/Code to Reproduce
Here is an example of an extension that adds full support for Keras, MXnet, PyTorch and ONNX:
https://github.com/openml/openml-deeplearning/

It is currently a clo

[2019-07-09 16:42] Neeratyoy commented on #447
@mfeurer could you please guide me as to how I can test this locally?
When I execute `bash ci_scripts/test.sh`, or even check `echo $TEST_DIR` at the beginning of `run_tests()`, it gives a `mkdir: missing operand` error. The result of `echo $TEST_DIR` is blank.
How can I recreate locally how CI runs this?

Can I in that case store the current directory `` curr_dir=`pwd` `` and before the second `g

[2019-07-10 07:59] mfeurer commented on #447
That's tricky. The easiest solution would be to do `export TEST_DIR=/tmp/test/` prior to running bash ci_scripts/test.sh.

That sounds like a good solution.

[2019-07-10 08:38] joaquinvanschoren commented on #412
Answering comments above: we could indeed shorted it in the frontend, but I believe it is nice to have short names in any kind of plot/table/report based on the python API.

[2019-07-11 17:47] hp2500 opened #733 "What happened to openml_param_name_to_sklearn?"
Hi there,

I am trying to run some functions from [https://github.com/openml/openml-python-contrib](url).
Here is an example:

[code]
I am getting this error:
![image](https://user-images.githubusercontent.com/27285925/61072490-6a6ce000-a3e1-11e9-8058-6f60d7a74354.png)

I have checked the docs and have not found openml.flows.openml_param_name_to_sklearn . Are the contrib functions outdated or am I

[2019-07-11 18:00] hp2500 commented on #724
Hi there, unfortunately the issue still persists.

[2019-07-11 18:11] hp2500 opened #734 "Still not able to use non-sklearn estimators without wrapping them in a pipeline"
Hi there, I raised this in issue #724. I have been trying to run experiments with a fairly new sklearn-extra classifier ([https://github.com/Alex7Li/scikit-learn-extra/tree/master/sklearn_extra](url)). The classifier runs fine on a local dataset. However, when I am trying to run it on an openml task, I am getting an error.

Here is a minimal example:
[code]

---------------------------------------

[2019-07-11 22:04] PGijsbers opened #736 "openml registers handler on root logger"
`openml` registers a streamhandler with the root logger, because [it uses `logging.basicConfig`](https://github.com/openml/openml-python/blob/develop/openml/config.py). That functions registers a `logging.StreamHandler` with the root logger if it does not yet have a handler. This means that logging of other packages may automatically be processed by this streamhandler. An example to demonstrate:

[2019-07-12 14:58] mfeurer commented on #733
Please see my answer in https://github.com/openml/openml-python-contrib/issues/2

[2019-07-12 14:58] #733 closed

[2019-07-12 15:01] mfeurer commented on #412
I do fully agree to this

[2019-07-12 15:03] mfeurer commented on #736
Thanks for bringing that up. Actually, the package should have a good default logging behavior, but should allow flexible configuration and fully disabling it, too. I currently don't know the best way to achieve this unfortunately.

[2019-07-12 16:01] #726 closed

[2019-07-12 21:17] PGijsbers commented on #736
What do you consider 'good default logging behavior'? For me it would be:
 - Have a package's root logger (e.g. `logging.getLogger('openml')`, **not** `logging.getLogger()`) configured at `logging.DEBUG`.  This means any `logging.Handler` registered will by default pick up all messages, limited by the `logging.Handler.level`.
 - Have each module log to its own logger (i.e. `logging.getLogger(__nam

[2019-07-12 21:36] PGijsbers commented on #727
I can not reproduce the issue locally. Does the full output of the `pip install openml` command provide more information (and if so, could you provide the full output)?

[2019-07-13 19:02] azrdev commented on #727
@PGijsbers full stdout/stderr below. As I wrote, it prints that warning from `setup.py`.

[code]

[2019-07-14 21:20] amueller commented on #75
actually not true, you added ``__str__`` not ``__repr__``, which is what ipython uses. So it's not helping for notebooks.
If you don't like changing ``__repr__`` you can do ``_repr_pretty_``.

[2019-07-15 00:49] PGijsbers commented on #727
Thanks @azrdev. Of course I did not doubt you were speaking the truth, the reason I asked for the output is that we can see if there is other identifying information which allows us to spot if `setup.py` has been called from `pip` or not. Sorry if you had the wrong impression.

In this case, we see `setup.py` gets called with quite a few additional arguments if it is called from `pip`, in particul

[2019-07-15 11:32] mfeurer commented on #727
Hey, could it be that a missing wheel is the reason why `python setup.py install` installs packages by compiling the source? I just created an empty conda environment and install openml with `python setup.py install` and it took ~1 minute and didn't compile anything.

The log:
[code]
If you guys agree, I suggest to replace the check to see if the wheel package is installed, and if not, refuse inst

[2019-07-15 11:54] mfeurer commented on #736
I would not show debug messages by default, but I agree on the logger name.

As the name will be openml. ... any logging.Handler registered with the package root logger will also pick up on messages sent by the package root logger (it keeps a hierarchy based on name). But if we're alternatively only interested in just registering for messages from submodules, we can directly register a logging.Han

[2019-07-16 13:49] Neeratyoy commented on #75
Hi @amueller,
I have a [branch](https://github.com/openml/openml-python/tree/add_repr) ready with the changes that you suggested. I'll create a PR once I get a green light.

The current design has been tested on ipython console, and jupyter notebooks.
`t = openml.tasks.get_task(31) `
`t  # same output as below`
`print(t)  # same output as above`

Hope that this is the expected behaviour.

[2019-07-17 05:07] PGijsbers commented on #736
I'm not advocating showing (to console?) debug messages by default either. There's *two* levels to set, that of the `logger` and those of the `logger.Handler`. No messages would be shown if no handlers are set to the logger. A message is only processed if the level is met by both the log-object and the handler. By default no handlers would be set. To illustrate:
[code]

By setting the log level of

[2019-07-17 05:13] PGijsbers commented on #727
Sorry I'm confused, why did
[code]
not error out? Did you change to setup script to ignore it to see if it would fail(/build numpy)?

But I guess it makes sense that we could check for `wheel`.

[2019-07-17 12:57] mfeurer commented on #727
I commented it out to see what happens. Sorry for not mentioning that.

[2019-07-17 13:36] mfeurer commented on #736
Got it, that totally makes sense.

[2019-07-17 18:42] PGijsbers commented on #727
Ok, cool. Then it seems like it makes the most sense to just check for the `wheel` package indeed. I would be fine with that solution.

[2019-07-19 13:24] mfeurer commented on #118
@joaquinvanschoren is working on this in #719

[2019-07-19 14:58] mfeurer commented on #447
Added in #721.

[2019-07-19 14:58] #447 closed

[2019-07-19 15:03] mfeurer commented on #261
Added by #735.

[2019-07-19 15:03] #261 closed

[2019-07-21 23:01] pganssle commented on #727
I think you may want to drop this requirement entirely, or replace it with a warning of some sort, plus strong documentation to *not* invoke `setup.py install`. We over at `setuptools` are trying to deprecate `setup.py install` and other direct invocations of `setup.py`, but it's been difficult for reasons like this - things that *are* doing the right thing but are implemented in terms of `setup.p

[2019-07-21 23:06] pganssle opened #741 "Python version requirements inconsistent"
I noticed in your `setup.py` file that you have [a requirement for Python version >= 3.5](https://github.com/openml/openml-python/blob/56fcc00cb16b102e4778c1f1dadd7d9919e9eca4/setup.py#L16), but you do not have a [`python_requires` keyword](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires), and you have the [Python 3.4 in your trove classifiers](https://g

[2019-07-22 07:40] mfeurer commented on #727
Thanks for your comments @pganssle

The original reason for prohibiting the invocation of `setup.py install` was to make sure that numpy, scipy and scikit-learn aren't compiled. This is most likely the product of a non-conda environment. I'm afraid that a warning won't do because an installation with `setup.py install` produces a long log in which the warning won't be easily visible.

Potentially

[2019-07-22 13:54] pganssle commented on #727
@mfeurer The problem is that I don't think it's possible to do what you want to do, because there's no clear way to distinguish between direct and indirect invocations of `setup.py install`. Additionally, even `pip install openml` will end up building `numpy` from source if it's not already installed and no wheel is available for the platform the person is trying to build upon.

The problem is tha

[2019-07-22 14:02] mfeurer commented on #727
Thank you for your help and explanations @pganssle. What do you think of the solution of scikit-learn which checks itself that the libraries in question are installed?

Anyway, I guess we'll better remove these lines again as they appear to cause more trouble than good.

[2019-07-22 14:27] pganssle commented on #727
@mfeurer I actually recommend removing as much logic as possible from your `setup.py`. Unless you need those libraries installed *at build time* (in which case they should go in `pyproject.toml`), I would recommend against checking for them in your `setup.py`.

Generally speaking, you should think of your `setup.py` as a script that takes your project and turns it into a `wheel` to be installed, *

[2019-07-22 18:13] amueller commented on #724
Easier to reproduce is this:
[code]

[2019-07-22 18:18] amueller commented on #724
It's pretty obvious that this was broken in #647.
The sklearn extension should handle this, but the sklearn extension can handle only things that ``_is_skleanr_flow`` returns ``True`` for, and that's ``',sklearn==' in flow.external_version``

[2019-07-22 18:37] amueller commented on #724
Ok so ``get_extension_by_model`` returns ``sklearn`` because ``isinstance(MyLR(), BaseEstimator)`` - which is also not the correct test btw but whatever.

The problem is that the flow that is created from that model is not an sklearn extension flow, because that's created by ``get_extension_by_flow``, and the sklearn.extension module doesn't set include sklearn in its ``external_version``, it's on

[2019-07-22 18:50] amueller commented on #724
damn meant to comment on #734

[2019-07-22 18:50] #724 closed

[2019-07-22 18:51] amueller commented on #734
Easier way to reproduce:
[code]

So ``get_extension_by_model`` returns ``sklearn`` because ``isinstance(MyLR(), BaseEstimator)`` - which is also not the correct test btw but whatever.

The problem is that the flow that is created from that model is not an sklearn extension flow, because that's created by ``get_extension_by_flow``, and the sklearn.extension module doesn't set include sklearn in its

[2019-07-22 18:59] amueller commented on #718
[code]
yields

[2019-07-22 19:17] amueller commented on #741
I think a PR would probably be welcome.

[2019-07-23 08:40] mfeurer commented on #734
what would you test for? The interface?

that would definitively be helpful

I hope that this won't be necessary, but we should keep it in mind in case this problem persists.

[2019-07-23 08:49] mfeurer commented on #718
@amueller will you have a look into this or should I ask @Neeratyoy to check this?

[2019-07-23 21:35] amueller opened #745 "How to get pipeline parameters from a run"
With @hp5200 we've been trying to analyse some runs on openml.
It would be great if there was a way to get the parameter settings from a run in a way that is similar to how they are structured in sklearn.

The best I could do so far is:
[code]

These include the parameters of the sub-flows. Say I'm only interested in the last step of the pipeline. I have no idea what the order of the subflows is.

[2019-07-23 21:51] amueller commented on #745
I feel like this is weird, but is this the recommended way to do it?

[code]

[2019-07-24 11:49] mfeurer opened #746 "Cannot post "large" datasets"
In the course of uploading a few "large" datasets to OpenML I stumbed upon an issue regarding the maximum file size which can be possibly uploaded by OpenML-Python:

[code]

The issue can be reproduced by executing:
[code]

The dataset in question is by now means large and has dimensions of `(51839, 11585)` (dense).

[2019-07-24 14:35] mfeurer commented on #745
I agree.

OpenML does not support lists as types for parameter values.

I currently can't think of a better way, but @janvanrijn once added a function `get_structure` to the flow. Maybe it can be used to simplify this.

Sorry, we never thought of this. I'm wondering whether that's a function worth adding to the OpenML-Python interface? @PGijsbers @janvanrijn

[2019-07-24 15:26] PGijsbers commented on #745
I'm not aware of a better generic way to do this. I think it makes sense to add an easier way to retrieve parameters by subcomponent of the linked flow/group parameters by subflow.

[2019-07-24 15:30] mfeurer commented on #412
Closed by #723.

[2019-07-24 15:30] #412 closed

[2019-07-24 17:08] amueller opened #749 "update scikit-learn dependency?"
The current tests fail with later scikit-learn releases in several places, because the code relies on classes and attributes that have been removed.
I would suggest using 0.20 from Sept 2018 as minimum version.
That introduced the current ColumnTransformer and SimpleImputer and OneHotEncoder and so you'd be able to write current sklearn.

[2019-07-24 17:14] mfeurer commented on #749
We had a longer discussion at the Paris workshop on this topic and came to the conclusion that we try to allow multiple versions where possible. We should discuss how to proceed at the next workshop.

Anyway, I totally agree that we also need to test 0.21.X.

[2019-07-24 17:32] amueller commented on #745
I saw ``get_structure`` but I did not understand the docstring. Maybe an example would be helpful.

[2019-07-24 17:37] amueller commented on #745
It would be really great if there was some documentation on how to use OpenML for meta-learning...
I feel like even very simple analysis is quite hard to figure out.

You mean the OpenML schema. But that doesn't mean the OpenML python interface doesn't, right?
I find it weird that the python API has JSON strings stored in it.

[2019-07-24 17:58] amueller commented on #749
Ok I should really work on that CZI grant but happy to look into this soon.

[2019-07-25 13:37] mfeurer commented on #75
This is now closed via #743.

[2019-07-25 13:37] #75 closed

[2019-07-25 15:48] Neeratyoy commented on #175
@mfeurer it seems that if the str length of a flow description is > 1024, we get an `OpenMLServerException: Problem validating uploaded description file`
Is that expected?

Steps to recreate:
`task = openml.tasks.get_task(403)`
`clf = sklearn.linear_model.SGDClassifier()`
` dummy_str = '-' * 1024`
`f.description = dummy_str`
`f = f.publish()    # this works`
`openml.utils._delete_entity('flow', f.

[2019-07-26 13:38] #727 closed

[2019-07-26 13:50] mfeurer commented on #175
Unfortunately, yes.

I'd suggest to store the first 1024 characters of the docstring on OpenML (but always stopping before the "Read more here" or "Parameters"). I don't see a real issue with __repr__ for now. We can change that if this becomes a real issue for users?

[2019-07-26 13:54] mfeurer commented on #745
@janvanrijn

Yes, that would be great. Maybe we can discuss this offline at the workshop and make it a key topic? @janvanrijn has a lot of code in a contrib library. Maybe we can move over some commonly used functionality.

Yes, but the flow object itself does not know anything about what to do with this parameter. Only the extension object knows about this. Maybe there should be a general way to

[2019-07-26 15:22] amueller commented on #745
From what I can tell, @janvanrijn's contrib library is quite outdated, but I haven't checked in detail.

But it doesn't need to, right? The flow was created by the extension so if only the extension knows about it that's fine?

[2019-07-26 15:23] amueller commented on #746
is that because we're sending them as arffs?

[2019-07-26 15:29] mfeurer commented on #746
Yes.

Related to https://github.com/openml/OpenML/issues/388.

[2019-07-26 15:31] mfeurer commented on #745
I guess Jan hasn't adapted the library to the recent extension interface. But if you know what you require, and we check what's in that library, we might find a few functions which are commonly required and should be in the main package.

Correct. Honostly, I simply didn't think about this yet.

[2019-07-26 15:39] mfeurer commented on #749
Closed via #752.

[2019-07-26 15:39] #749 closed

[2019-07-26 18:16] amueller commented on #745
@mfeurer no worries, but that means someone could implement it :)

[2019-07-26 19:12] amueller commented on #745
I think the real issue here is the design. The flow is basically made to mirror the OpenML schema, so going from sklearn estimator to flows mostly makes things strings.

It would be nice if we could keep the serialization to strings for the point when we want to upload to openml as much as possible.
So basically serialize_sklearn would create a pythonic representation of the flow, and only the upl

[2019-07-29 08:43] mfeurer commented on #745
This basically sounds like adding in a layer of abstraction between the OpenML schema (`OpenMLFlow` class) and the scikit-learn object? Besides the refactor, I'd be afraid that we add a flow schema ourselves which we need to both define and maintain.

[2019-07-29 14:43] PGijsbers opened #753 "Custom OpenMLFlow"
I want to register a flow referring to the setup we used to conduct the [automl benchmark](https://github.com/openml/automlbenchmark) presented at the ICML workshop this year. We want to do this to more easily share results through OpenML. I want to run this by you all.

Now, I know that creating your own flow in `openml-python` is discouraged ('Flows should not be generated manually'), but for th

[2019-07-29 16:37] amueller commented on #745
Well, the OpenMLFlow class is not really the schema, right?
The layer would be a python API to the OpenML flow, which is what ``openml-python`` is supposed to be, right?

[2019-08-01 11:56] PGijsbers opened #754 "OpenMLRun.get_metric_fn does not use predicted probabilities"
When calling `OpenMLRun.get_metric_fn` with a score function predicted labels are always used, even if the metric should prefer predicted probabilities. See below for code demonstrating the effect for `roc_auc_score`.

[code]

[2019-08-05 07:39] mfeurer commented on #737
@PGijsbers @sahithyaravi1493 is this closed by #747?

[2019-08-05 07:48] PGijsbers commented on #737
I wasn't sure. The added function kind of allows this, but how parameters are specified might not be ideal.

[code]

Ideally I think we'd like to also see
 - separate columns if only one flow is specified (?)
 - prepend the parameter names with a flow name (so we can distinguish subflows)

But perhaps @joaquinvanschoren is best to judge if it should be closed?

[2019-08-05 07:51] #741 closed

[2019-08-05 08:39] mfeurer commented on #754
Is this related to #386?

[2019-08-05 08:40] mfeurer commented on #745
No, it's not, but it tries to stay as close to the XML schema as possible.

Could you give an example on how that would look like?

[2019-08-05 08:54] mfeurer commented on #753
In my opinion yes, it should be flexible enough to allow this to an experienced user. We should update the docs based on this experience.

I'd find that a bit weird.

Maybe that would be a good addition to the OpenML schema?

[2019-08-05 09:00] PGijsbers commented on #754
I think they are two different issues.

As I understood #386, when calculating the score on a learning curve task, *all* predictions, including those made from models trained on subsamples of the data, are used to calculate the final score. Fixing this requires taking into account the `sample` column (and calculating the score for a specified sample number).

Here, for any task scores are computed

[2019-08-05 09:23] PGijsbers commented on #753
Good to hear! I agree. Due to the delay I went ahead and tried some of this already last week anyway (I figured I could delete flows if needed).

An example of a flow I created [here](https://www.openml.org/f/15509). I opted to create a new flow for each tool used in the benchmark as they are set up in different ways (hopefully matching your intuition of doing all in one flow being 'a bit weird').

[2019-08-07 14:33] Neeratyoy opened #757 "Clean test server of all files uploaded during unit tests"
A continuation of #261 which was largely addressed by #748.

However, certain flows and studies persist and fail to be deleted. Therefore, the file deletion can be made more strict.

[2019-08-09 06:59] mfeurer opened #758 "Cannot load sparse datasets with categorical variables any more"
Can be reproduced with:

[code]

[2019-08-12 08:27] PGijsbers commented on #753
Post for later reference.
When uploading runs for said flows, I have to circumvent the following checks:
 - `run.publish` [requires](https://github.com/openml/openml-python/blob/develop/openml/runs/run.py#L448) the flow to have a model. In my case I don't have the model anymore, just the predictions and parameter settings. Parameter settings were already provided through the OpenMLRun constructor.

[2019-08-12 10:26] mfeurer opened #759 "Unit tests failing"
Due to wheels not being properly downloaded.

This is an issue that appeared with the upgrade to Python3.7.4 (https://travis-ci.org/openml/openml-python/builds/570006525) from Python3.7.3 (https://travis-ci.org/openml/openml-python/builds/569541467).

Minimal example:
[code]
Output of the last command:
[code]
(I removed the output regarding all versions from 0.2-0.24 due to github issue character

[2019-08-12 11:19] joaquinvanschoren commented on #737
OK, I see two good solutions:
* Return a dictionary in the parameters column, using the hyperparameter name as key, or maybe first key by flow ID and then by hyperparameter name:
{1: {hp1: value, hp2: value},
  2: {hp1: value, hp2: value}}
* In case there is only one task, just build columns for every hyperparameter. That would however be less predicable behavior. We can't really do this for large